<template>
    <div class="modal fade" id="modal-component" data-bs-backdrop="true" data-bs-keyboard="true" tabindex="-1"
         aria-labelledby="modal-component-label" aria-hidden="true" ref="modalEle">
        <div class="modal-dialog" :class="classObject">
            <div class="modal-content" >
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">{{props.title}}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <slot name="body" />
                </div>
                <div class="modal-footer">
                    <slot name="footer"></slot>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script setup >
import { onMounted, ref,defineProps,defineExpose,computed} from "vue";

import { Modal } from "bootstrap";


const emit = defineEmits(['modalHiddenEvent'])

const props = defineProps({
    title: {
        type: String,
        default: "no title",
    },
    size: {
        type: String,
        default: null,
    },
    keyboard: {
        type: Boolean,
        default: false,
    },
    backdrop: {
        type: String,
        default:true,
    },
});


const classObject = computed(() => ({
    'modal-xl':props.size==='xl',
    'modal-lg':props.size==='lg',
    'modal-sm':props.size==='sm',
    'modal-fullscreen':props.size==='fullscreen',
    'modal-fullscreen-sm-down':props.size==='fullscreen-sm-down',
    'modal-fullscreen-md-down':props.size==='fullscreen-md-down',
    'modal-fullscreen-lg-down':props.size==='fullscreen-lg-down',
    'modal-fullscreen-xl-down':props.size==='fullscreen-xl-down',
    'modal-fullscreen-xxl-down':props.size==='fullscreen-xxl-down',
}))

let modalEle = ref(null);

let thisModalObj = null;

onMounted(() => {
    // thisModalObj =  new Modal(modalEle.value);

    thisModalObj =  new Modal(modalEle.value);

    modalEle.value.addEventListener('hidden.bs.modal', function (event) {
        emit('modalHiddenEvent')
    })

})

const _show  =  async () => {




    await thisModalObj.show();

}

const _hide =() => {
    thisModalObj.hide();
}


defineExpose({ show: _show,hide:_hide });

</script>

<style scoped>

</style>
