<template>
    <form @submit.prevent="submitData" id="food-create-form">
        <div class="mb-3">
            <label for="date" class="form-label">Select Date</label>
            <!--Add disabled :disabled-dates="disabledDates"-->
            <Datepicker v-model="form_data.date_selected" :clearable="false" :enable-time-picker="false" :min-date="date_range[0]" :max-date="date_range[1]"
                        :disabled-dates="foodMenuStoreGetters.disableDates"
            />
            <input type="text" v-model="form_data.date_selected" class="form-control" :class="error.errors.date_selected ? 'is-invalid' : ''" hidden>
            <div v-if="error.errors.date_selected" class="invalid-feedback fw-bolder">
                {{ error.errors.date_selected.toString() }}
            </div>
        </div>
        <div class="mb-3">
            <label for="name" class="form-label">Menu Name</label>
            <input type="text" v-model="form_data.name" class="form-control" :class="error.errors.name ? 'is-invalid' : ''" id="name" placeholder="input menu name here...">
            <div v-if="error.errors.name" class="invalid-feedback fw-bolder">
                {{ error.errors.name.toString() }}
            </div>


        </div>
        <div class="mb-3">
            <label for="ingredients" class="form-label">Menu Ingredients</label>
            <textarea class="form-control" v-model="form_data.ingredients"  :class="error.errors.ingredients ? 'is-invalid' : ''" id="ingredients" rows="3"></textarea>
            <div v-if="error.errors.ingredients" class="invalid-feedback fw-bolder">
                {{ error.errors.ingredients.toString() }}
            </div>


        </div>
        <div class="mb-3">
            <label for="allergens" class="form-label">Possible Allergens</label>
            <textarea class="form-control"  v-model="form_data.allergens" :class="error.errors.allergens ? 'is-invalid' : ''" id="allergens" rows="3"></textarea>
            <div v-if="error.errors.allergens" class="invalid-feedback fw-bolder">
                {{ error.errors.allergens.toString() }}
            </div>

        </div>
        <div class="mb-3">
            <label for="price" class="form-label">Price</label>
            <input type="number" class="form-control" v-model="form_data.price"  id="price" placeholder="input price here..."  :class="error.errors.price ? 'is-invalid' : ''">
            <div v-if="error.errors.price" class="invalid-feedback fw-bolder">
                {{ error.errors.price.toString() }}
            </div>


        </div>

        <div class="mb-3">
            <label for="image" class="form-label">Upload Image</label>
            <input class="form-control" type="file" id="image" accept="image/*" @change="handleFileChange($event)"  :class="error.errors.image_upload ? 'is-invalid' : ''">
            <div v-if="error.errors.image_upload" class="invalid-feedback fw-bolder">
                {{ error.errors.image_upload.toString() }}
            </div>
            Total Size: {{ bytesToSize(upload_size) }}
        </div>
        <!--                <hr class="dropdown-divider">-->
        <div class="mb-3">
            <button type="submit" class="btn  btn-success me-2">SUBMIT</button>
            <button type="reset" class="btn btn-outline-info ">RESET</button>
        </div>
    </form>
</template>

<script setup>
import {ref, inject, defineEmits, reactive,computed} from "vue";
import {storeToRefs} from "pinia";
import {useSelectedDate} from "../../store/SelectedDate";
import {useFoodMenu} from "../../store/FoodMenu";
import {useErrorStore} from "../../store/Error";

const emit = defineEmits(['foodCreateSuccess'])
const swal = inject('$swal')
const error = useErrorStore();
const selectedDateStore = useSelectedDate()
const foodMenuStore = useFoodMenu()
const {date_range} = storeToRefs(selectedDateStore)
const {form_data} = storeToRefs(foodMenuStore)
const {createFoodMenu} = foodMenuStore

const foodMenuStoreGetters = reactive({
    disableDates: computed(()=>useFoodMenu().disableDates)
})


/*image upload start*/
const upload_size = ref(0)
const is_img_loading = ref(false);
const image_details = ref(null)
const image_preview = ref(null)
const percentCompleted = ref(0)
/*image upload end*/

const bytesToSize = (bytes) => {
    var sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB'];
    if (bytes === 0) return '0 Byte';
    var i = parseInt(Math.floor(Math.log(bytes) / Math.log(1024)));
    return Math.round(bytes / Math.pow(1024, i), 2) + ' ' + sizes[i];
}

const handleFileChange = (e) => {
    let files = e.target.files[0];
    upload_size.value = 0;
    form_data.value.image_upload = files
    image_preview.value = URL.createObjectURL(e.target.files[0]);
    getAttachmentSize();

}

const getAttachmentSize = () => {
    upload_size.value = 0; // Reset to beginningƒ
    upload_size.value = Number((form_data.value.image_upload.size).toFixed(1));
}

const submitData = async () => {

    let config = {
        headers: {
            'Accept': 'application/json',
            'Content-Type': 'multipart/form-data'
        },
        onUploadProgress: function (progressEvent) {
            percentCompleted.value = Math.round((progressEvent.loaded * 100) / progressEvent.total);
        }.bind()
    };

    await createFoodMenu(config);

    image_details.value = null;
    upload_size.value = 0;
    image_preview.value = 0;
    percentCompleted.value = 0;

    await swal({
        icon: 'success',
        title: 'Success',
        text: 'successfully added',
        showConfirmButton: false,
        timer: 800
    })
    document.getElementById('food-create-form').reset();
    emit('foodCreateSuccess')

}
</script>

<style scoped>

</style>
