<template>

    <div class="row align-items-center">
        <div class="col-lg-4 mb-4 mb-lg-0">

            <template v-if="form_data.image_upload && form_data.image_upload.filename">
                <img :alt="form_data.name" :src="form_data.image_upload.filename" class="img img-fluid"
                     width="300">
            </template>
            <template v-else>
                <img alt="no-image" class="img img-fluid"
                     src="http://placehold.jp/3d4070/ffffff/300x300.png?text=no%20image"
                     width="300">
            </template>
        </div>
        <div class="col-lg-8 px-xl-10">
            <div class="bg-secondary d-lg-inline-block py-1-9 px-1-9 px-sm-6 mb-1-9 rounded">
                <h3 class="h2 text-white mb-0">{{ form_data.name }}</h3>
                <!--                                    <span class="text-primary">Coach</span>-->
            </div>
            <ul class="list-unstyled mb-1-9">
                <li class="mb-2 mb-xl-3 display-28"><span class="display-26 text-secondary me-2 font-weight-600">Main Ingredients:</span>
                    {{ form_data.ingredients }}
                </li>
                <li class="mb-2 mb-xl-3 display-28"><span class="display-26 text-secondary me-2 font-weight-600">Possible Allergens:</span>
                    <template v-if="form_data.allergens">
                        {{ form_data.allergens }}
                    </template>
                    <template v-else>
                        None
                    </template>

                </li>
                <li class="mb-2 mb-xl-3 display-28"><span
                    class="display-26 text-secondary me-2 font-weight-600">Price:</span> {{ form_data.price }}
                </li>
                <li v-if="form_data.is_date_valid" class="mb-2 mb-xl-3 display-28"><span
                    class="display-26 text-secondary me-2 font-weight-600">Quanity:
                </span>
                    <input id="quantity" v-model="quantity" class="form-control" min="1" style="width:100px"
                           type="number">
                </li>
            </ul>
            <ul v-if="form_data.is_date_valid" class="social-icon-style1 list-unstyled mb-0 ps-0">
                <li>
                    <button class="btn btn-outline-info btn-sm mt-3 ms-2" type="button"
                            @click="addToCart({'instance':'adding','menu_id':form_data.id})">
                        <font-awesome-icon icon="fa-solid fa-basket-shopping" size="lg"/>
                        ADD TO BASKET
                    </button>
                    <button class="btn btn-danger btn-sm mt-3 ms-2" type="button">RESERVED NOW</button>
                </li>
                <li>

                </li>

            </ul>
        </div>
    </div>


</template>

<script setup>
import {useFoodMenu} from "../../store/FoodMenu";
import {storeToRefs} from "pinia";
import {useCart} from "../../store/Cart";
import {defineEmits} from "vue";

const foodMenuStore = useFoodMenu()
const CartStore = useCart()
const {form_data} = storeToRefs(foodMenuStore)
const {quantity} = storeToRefs(CartStore)
const emit = defineEmits(['addToCart'])
const addToCart = (payload) => {
    emit('addToCart', payload)
}


</script>

<style scoped>
.card-style1 {
    box-shadow: 0px 0px 10px 0px rgb(89 75 128 / 9%);
}

.border-0 {
    border: 0 !important;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 0.25rem;
}

section {
    padding: 120px 0;
    overflow: hidden;
    background: #fff;
}

.mb-2-3, .my-2-3 {
    margin-bottom: 2.3rem;
}

.section-title {
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 10px;
    position: relative;
    display: inline-block;
}

.text-primary {
    color: #ceaa4d !important;
}

.text-secondary {
    color: #15395A !important;
}

.font-weight-600 {
    font-weight: 600;
}

.display-26 {
    font-size: 1.3rem;
}

@media screen and (min-width: 992px) {
    .p-lg-7 {
        padding: 4rem;
    }
}

@media screen and (min-width: 768px) {
    .p-md-6 {
        padding: 3.5rem;
    }
}

@media screen and (min-width: 576px) {
    .p-sm-2-3 {
        padding: 2.3rem;
    }
}

.p-1-9 {
    padding: 1.9rem;
}

.bg-secondary {
    background: #15395A !important;
}

@media screen and (min-width: 576px) {
    .pe-sm-6, .px-sm-6 {
        padding-right: 3.5rem;
    }
}

@media screen and (min-width: 576px) {
    .ps-sm-6, .px-sm-6 {
        padding-left: 3.5rem;
    }
}

.pe-1-9, .px-1-9 {
    padding-right: 1.9rem;
}

.ps-1-9, .px-1-9 {
    padding-left: 1.9rem;
}

.pb-1-9, .py-1-9 {
    padding-bottom: 1.9rem;
}

.pt-1-9, .py-1-9 {
    padding-top: 1.9rem;
}

.mb-1-9, .my-1-9 {
    margin-bottom: 1.9rem;
}

@media (min-width: 992px) {
    .d-lg-inline-block {
        display: inline-block !important;
    }
}

.rounded {
    border-radius: 0.25rem !important;
}
</style>
