<template>
    <div class="card text-white bg-dark h-100" style="max-width: 18rem">
        <div class="card-header">{{ menu.date }}</div>
        <img v-if=" menu.image_details && menu.image_details.filename" :alt="menu.name"
             :src="menu.image_details.filename" class="card-img-top"
             height="300" width="300">
        <img v-else alt="no-image" class="card-img-top"
             height="300" src="http://placehold.jp/3d4070/ffffff/300x300.png?text=no%20image"
             width="300">

        <div class="card-body ">
            <h5 class="card-title">{{ menu.name }}</h5>
            <p class="card-text">

            </p>
            <div class="list-group ">
                <a aria-current="true" class="list-group-item list-group-item-action" href="#">
                    <div class="d-flex w-100 justify-content-between">
                        <h6 class="mb-1">Main Ingredients</h6>
                    </div>
                    <p v-if="!menu.more_ingredients && menu.ingredients" class="mb-1 fw-lighter">
                        {{ menu.ingredients.slice(0, 60) }}
                    </p>
                    <a v-if="!menu.more_ingredients && menu.ingredients && menu.ingredients.length > 60" class=""
                       href="#" @click="activateReadMore(menu,'ingredients')">
                        Read more...
                    </a>

                    <p v-if="menu.more_ingredients" class="mb-1 fw-lighter">
                        {{ menu.ingredients }}
                    </p>
                    <a v-if="menu.more_ingredients" class="" href="#" @click="activateReadLess(menu,'ingredients')">
                        Less...
                    </a>
                </a>
                <a aria-current="true" class="list-group-item list-group-item-action" href="#">
                    <div class="d-flex w-100 justify-content-between">
                        <h6 class="mb-1">Possible Allergens</h6>
                    </div>
                    <template v-if="menu.allergens">
                        <p v-if="!menu.more_allergens && menu.allergens" class="mb-1 fw-lighter">
                            {{ menu.allergens.slice(0, 60) }}
                        </p>
                        <a v-if="!menu.more_allergens && menu.allergens && menu.allergens.length > 60" class=""
                           href="#" @click="activateReadMore(menu,'allergens')">
                            Read more...
                        </a>
                        <p v-if="menu.more_allergens && menu.allergens" class="mb-1 fw-lighter">
                            {{ menu.allergens }}
                        </p>
                        <a v-if="menu.more_allergens" class="" href="#" @click="activateReadLess(menu,'allergens')">
                            Less...
                        </a>
                    </template>
                    <template v-else>
                        None
                    </template>

                </a>
                <a v-if="route.name==='foodMaintenanceIndex'" aria-current="true"
                   class="list-group-item list-group-item-action"
                   href="#">
                    <div class="d-flex w-100 justify-content-between">
                        <h6 class="mb-1">Price</h6>
                    </div>
                    <p class="mb-1 fw-lighter">
                        {{ menu.price }}
                    </p>
                </a>


            </div>

        </div>

        <div class="card-footer bg-light ">

            <template v-if="route.name==='foodMaintenanceIndex' ">
                <button class="btn btn-outline-secondary btn-sm mt-3" type="button" @click="showEditModal(menu.id)">
                    <font-awesome-icon icon="fa-solid fa-pen" size="lg"/>
                </button>
            </template>
            <template v-if="route.name==='ReservationView' ">
                <!--                <button class="btn btn-outline-info btn-sm mt-3 ms-2" type="button" @click="showModal(menu.id)">-->
                <!--                    <font-awesome-icon icon="fa-solid fa-eye" size="lg"/>-->
                <!--                </button>-->
                <temlate v-if="menu.is_date_valid">

                    <button v-if="isLoading.add_to_cart" class="btn btn-outline-info btn-sm mt-3 ms-2" disabled
                            type="button">
                        <font-awesome-icon icon="fa-solid fa-basket-shopping" size="lg"/>
                        ...Loading
                    </button>
                    <button v-else v-if="!menu.is_already_reserved" class="btn btn-outline-info btn-sm mt-3 ms-2"
                            type="button"
                            @click="addToCart({'instance':'adding','menu_id':menu.id})">
                        <font-awesome-icon icon="fa-solid fa-basket-shopping" size="lg"/>
                        ADD TO BASKET
                    </button>
                    <!--                    <span v-else class="badge bg-success">added</span>-->
                    <!--                    <button class="btn btn-danger btn-sm mt-3 ms-2" type="button"-->
                    <!--                            @click="reserveNow({'instance':'adding','menu_id':menu.id})">RESERVE NOW-->
                    <!--                    </button>-->
                </temlate>
            </template>
            <template v-if="route.name==='foodMaintenanceIndex'">
                <button class="btn btn-outline-danger btn-sm mt-3  mx-1" type="button"
                        @click="showDeleteModal(menu.id)">
                    <font-awesome-icon icon="fa-solid fa-trash-can" size="lg"/>
                </button>
            </template>
        </div>
    </div>
</template>

<script setup>
import {defineProps, defineEmits, inject, reactive, computed, ref} from "vue";
import {useFoodMenu} from "../../store/FoodMenu";
import {storeToRefs} from "pinia";
import {useRoute} from "vue-router";
import moment from "moment/moment";
import {useCart} from "../../store/Cart";

const cartStore = useCart()

const {isLoading} = storeToRefs(cartStore)

const route = useRoute();

const foodMenuStore = useFoodMenu()

const emit = defineEmits(['editMenu', 'showMenu', 'addToCart', 'reserveNow'])
const swal = inject('$swal')

const {removeFoodMenu} = foodMenuStore
const {food_menus} = storeToRefs(foodMenuStore)

const props = defineProps({
    menu: {
        type: Array,
        required: true
    },
})


const date_today = ref(moment().format('YYYY-MM-DD'));

const ifMenuYesterday = (menu) => {
    const date = moment(new Date(menu.date)).format('YYYY-MM-DD');
    console.log(date < date_today.value, 'date')
    console.log(date, 'date')
    console.log(date_today.value, 'date_value')
    console.log(moment().toString(), 'MOMENT')
    return date >= date_today.value;
}

const showEditModal = (id) => {
    emit('editMenu', id)
}

const showModal = (id) => {
    emit('showMenu', id)
}

const addToCart = (payload) => {
    emit('addToCart', payload)
}

const reserveNow = (payload) => {
    emit('reserveNow', payload)
}

const showDeleteModal = (id) => {
    swal({
        icon: 'error',
        title: 'Do you want to delete this menu?',
        showCancelButton: true,
        confirmButtonText: 'Yes',
    }).then((result) => {
        if (result.isConfirmed) {
            removeFoodMenu(id)
            let data_index = food_menus.value.findIndex(x => x.id === id)
            food_menus.value.splice(data_index, 1);
            swal({
                icon: 'success',
                title: 'Deleted',
                text: 'successfully deleted',
                showConfirmButton: false,
                timer: 800
            })
        }
    })


}

const activateReadMore = (menu, type = null) => {
    if (type === 'ingredients') {
        menu.more_ingredients = true;
    }
    if (type === 'allergens') {
        menu.more_allergens = true;
    }

}

const activateReadLess = (menu, type = null) => {
    if (type === 'ingredients') {
        menu.more_ingredients = false;
    }
    if (type === 'allergens') {
        menu.more_allergens = false;
    }
}
</script>

<style scoped>

</style>
