<template>
    <main>
        <div class="container-fluid px-4">
            <slot name="page-name"></slot>
            <!--            <ol class="breadcrumb mb-4">-->
            <!--                <li class="breadcrumb-item active">dashboard</li>-->
            <!--            </ol>-->
            <div class="row">
                <div class="col-sm-12 col-md-3 col-lg-3 col-xl-3 mb-4">
                    <Datepicker v-model="date_range" :clearable="false" week-picker placeholder="select date"/>
                </div>

            </div>

            <div class="row justify-content-center">
                <template v-for="(menu,index) in food_menus" :key="menu.id">
                    <div class="col-sm-12 col-md-2 col-lg-2 col-xl-2 mb-3">
                        <food-container :menu="menu" @edit-menu="showEditModal" ></food-container>
                    </div>
                </template>
                <template v-if="food_menus && food_menus.length === 0">
                    <div class="col-sm-12 col-md-2 col-lg-2 col-xl-2 mb-3">
                        NO DATA
                    </div>
            </template>

                <div class="col-sm-12 col-md-2 col-lg-2 col-xl-2 mb-3" v-if="foodMenuStoreGetters.disableDates.length < 7">
                    <div class="card text-white bg-primary" style="max-width: 18rem;">
                        <div class="card-body ">
                            <div class="thumbnail" style="width:100%; height:300px">
                                <a class="btn btn-primary btn-block d-flex align-items-center justify-content-center"
                                   style="display: block; width: 100%; height:100%; font-size:large"
                                   @click="showCreateModal()">
                                    <div style="text-align: center;">
                                        <font-awesome-icon icon="fa-solid fa-plus" size="10x"/>
                                        <h4 style="margin-top: 0.25em;">ADD MENU</h4>

                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <Modal :title="modalProperties.title" ref="thisModal" :backdrop="modalProperties.backdrop"
               :keyboard="modalProperties.keyboard" @modalHiddenEvent="modalClose" :size="modalProperties.size">
            <template #body>
                <food-create v-if="modalProperties.type==='create'"  @food-create-success="foodCreateSuccess"></food-create>
                <food-edit v-if="modalProperties.type==='edit'" @food-update-success="foodUpdateSuccess"></food-edit>
            </template>
            <template #footer>
                <!--            <button class="btn btn-primary">Extra footer button</button>-->
            </template>
        </Modal>
    </main>

</template>

<script setup>

import {ref, watch, onMounted, reactive, computed, inject} from "vue";
import {storeToRefs} from "pinia";
import moment from 'moment';
import {useRoute, useRouter} from "vue-router";
import Modal from "../components/modalComponent"
import FoodContainer from './foodContainer'
import FoodCreate from './foodCreate'
import FoodEdit from './foodEdit'
import {useSelectedDate} from "../../store/SelectedDate";
import {useFoodMenu} from "../../store/FoodMenu";


const foodMenuStoreGetters = reactive({
    disableDates: computed(()=>useFoodMenu().disableDates)
})

const route = useRoute();
const router = useRouter();
const selectedDateStore = useSelectedDate()
const foodMenuStore = useFoodMenu()

const swal = inject('$swal')
const {date_range} = storeToRefs(selectedDateStore)
const {food_menus,form_data} = storeToRefs(foodMenuStore)
const {getFoodMenuFilterByDate,show} = foodMenuStore

let thisModal = ref(null);

const modalProperties = ref({
    title: null,
    backdrop: null,
    keyboard: null,
    type: null,
    size:null
})

const showCreateModal = async () => {
    form_data.value = {
        date_selected: null,
        name: null,
        ingredients: null,
        allergens: null,
        price: 0,
        image_upload: {},
        is_date_valid:null
    }

    await router.push({
        name: "foodMaintenanceIndex",
        query: {...route.query, 'action': 'create'}
    });
    modalProperties.value.title = 'Add Desired Menu'
    modalProperties.value.backdrop = 'static'
    modalProperties.value.keyboard = true
    modalProperties.value.type = 'create'
    modalProperties.value.size = 'lg'
    if( await thisModal.value){
        await thisModal.value.show();
    }

}

const showEditModal = async (id) =>{
    await router.push({
        name: "foodMaintenanceIndex",
        query: {...route.query, 'action': 'edit','id':id}
    });
    modalProperties.value.title = 'Edit Desired Menu'
    modalProperties.value.backdrop = 'static'
    modalProperties.value.keyboard = true
    modalProperties.value.type = 'edit'
    modalProperties.value.size = 'lg'
    if( await thisModal.value){
        await show(id);
        await thisModal.value.show();
    }
}


const modalClose = () => {
    let query = Object.assign({}, route.query);

    form_data.value = {
            date_selected: null,
            name: null,
            ingredients: null,
            allergens: null,
            price: 0,
            image_upload: {},
            is_date_valid:null
    }

    delete query.action;
    delete query.id;
    router.replace({ query });
}

const foodCreateSuccess = async () => {
    if(  thisModal.value){
        await thisModal.value.hide()
        await getFoodMenuFilterByDate(date_range.value)
    }
}

const foodUpdateSuccess = async () => {
    if(  thisModal.value){
        await thisModal.value.hide()
        await getFoodMenuFilterByDate(date_range.value)
        await swal({
            icon: 'success',
            title: 'Success',
            text: 'successfully updated',
            showConfirmButton: false,
            timer: 800
        })
    }
}

onMounted(() => {

})


watch(
    () => date_range.value,
    async (newValue) => {
        let start_date = moment(newValue[0]).format('yyyy-MM-DD');
        let end_date = moment(newValue[1]).format('yyyy-MM-DD');
        await router.push({
            name: "foodMaintenanceIndex",
            query: {...route.query, 'start-date': start_date, 'end-date': end_date}
        });
    },
)

watch(() => route.query['action'],
    async (newValue) => {
        if (newValue === 'create') {
            await showCreateModal()
        }else if(newValue ==='edit' && route.query['id']){
            await showEditModal(route.query['id'])
        }
        else{
            if(  thisModal.value){
                await thisModal.value.hide()
            }

        }
    }, {immediate: true}
)

watch(() => route.query['start-date'],
    async (query) => {

        if (query == null) {
            await getFoodMenuFilterByDate(date_range.value)
        } else {

            let start_date = moment(route.query['start-date'], 'yyyy-MM-DD', true)
            let end_date = moment(route.query['start-date'], 'yyyy-MM-DD', true)

            if (start_date.isValid() && end_date.isValid()) {
                date_range.value = [
                    moment(route.query['start-date']).format('yyyy-MM-DD'),
                    moment(route.query['end-date']).format('yyyy-MM-DD'),
                ]

               await router.push({
                    name: "foodMaintenanceIndex",
                    query: {
                        ...route.query,
                        'start-date': route.query['start-date'],
                        'end-date': route.query['end-date']
                    }
                });

                await getFoodMenuFilterByDate(date_range.value)
            } else {

                let start_date = moment(date_range.value[0]).format('yyyy-MM-DD');
                let end_date = moment(date_range.value[1]).format('yyyy-MM-DD');

                await router.push({
                    name: "foodMaintenanceIndex",
                    query: {...route.query, 'start-date': start_date, 'end-date': end_date}
                });

                await getFoodMenuFilterByDate(date_range.value)
            }

        }
    }, {immediate: true}
)

</script>

<style scoped>

</style>
