<template>
    <div class="container px-3 my-5 clearfix">
        <div class="card">
            <div class="card-body">
                <div v-if="error.errors.quantity" class="alert alert-danger" role="alert">
                    {{ error.errors.quantity.toString() }}
                </div>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Food Menu</th>
                            <!--                            <th>Price</th>-->
                            <th>Quantity</th>
                            <!--                            <th>Total</th>-->
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="(cart,index) in cartMenuComputed.valid_cart"
                            v-if="cartMenuComputed && cartMenuComputed.valid_cart.length" :key="cart.id">
                            <td>{{ index + 1 }}</td>
                            <td>
                                <div class="card mb-3" style="max-width:540px;;">
                                    <div class="row g-0">
                                        <div class="col-md-4">
                                            <template
                                                v-if="cart.food_menu.image_details && cart.food_menu.image_details.filename">
                                                <img :src="'/'+cart.food_menu.image_details.filename" alt=""
                                                     class="img-fluid rounded-start" style="width:300px"
                                                >
                                            </template>
                                            <template v-else>
                                                <img
                                                    alt="" class="img-fluid rounded-start "
                                                    src="http://placehold.jp/3d4070/ffffff/.png?text=no%20image"
                                                    style="width:300px"
                                                >
                                            </template>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="card-body">
                                                <h5 class="card-title">{{ cart.food_menu.date }}</h5>
                                                <p class="card-text h6">{{ cart.food_menu.name }}</p>
                                                <p class="card-text">{{ cart.food_menu.ingredients }}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <!--                            <td>-->
                            <!--                                {{ cart.food_menu.price }}-->
                            <!--                            </td>-->
                            <td>
                                {{ cart.quantity }}
                                <!--                                <input v-model.number="cart.quantity"-->
                                <!--                                       class="form-control text-end"-->
                                <!--                                       min="1" step="1" type="number"-->
                                <!--                                       @change="cartQuantity(cart,'adding')">-->
                            </td>
                            <!--                            <td>-->
                            <!--                                {{ cart.food_menu.price * cart.quantity }}-->
                            <!--                            </td>-->
                            <td>
                                <button class="btn btn-danger btn-sm" @click="removeFoodMenu(cart.id)">X</button>
                            </td>
                        </tr>

                        <tr v-else>
                            <td class="text-center" colspan="4">
                                No Data
                            </td>
                        </tr>
                        </tbody>
                        <!--                        <tfoot>-->
                        <!--                        <tr>-->
                        <!--                            <td colspan="4"></td>-->
                        <!--                            <td class="text-nowrap">-->
                        <!--                                <label class="text-muted font-weight-normal m-0">Total</label>-->
                        <!--                                <div class="text-large text-end"><h4>{{-->
                        <!--                                        cartMenuComputed.total_price-->
                        <!--                                    }}</h4><strong>-->

                        <!--                                </strong></div>-->
                        <!--                            </td>-->
                        <!--                        </tr>-->
                        <!--                        <tr>-->
                        <!--                            <td colspan="4"></td>-->
                        <!--                            <td class="text-nowrap">-->
                        <!--                                <label class="text-muted font-weight-normal m-0">VMC Subsidy({{-->
                        <!--                                        subsidy.percentage-->
                        <!--                                    }}% off)</label>-->
                        <!--                                <div class="text-large text-end"><h5>-->
                        <!--                                    -{{ subsidyAmount(cartMenuComputed.total_price, subsidy.percentage) }}</h5><strong>-->

                        <!--                                </strong></div>-->
                        <!--                            </td>-->
                        <!--                        </tr>-->

                        <!--                        <tr>-->
                        <!--                            <td colspan="4"></td>-->
                        <!--                            <td class="text-nowrap">-->
                        <!--                                <label class="text-muted font-weight-normal m-0">Total Net</label>-->
                        <!--                                <div class="text-large text-end text-success"><h2>P {{-->
                        <!--                                        netTotal(cartMenuComputed.total_price)-->
                        <!--                                    }}</h2><strong>-->

                        <!--                                </strong></div>-->
                        <!--                            </td>-->
                        <!--                        </tr>-->
                        <!--                        </tfoot>-->
                    </table>
                </div>

            </div>
            <div class="card-footer text-end text-nowrap">


                <router-link :to="{ name: 'ReservationView' }" class="btn btn-link" exact tag="button">

                    Back to Food Menu List

                </router-link>
                <router-link v-if="cartMenuComputed && cartMenuComputed.valid_cart.length" :to="{ name: 'CheckOut' }"
                             class="btn btn-info" exact
                             tag="button">

                    Check-out

                </router-link>
            </div>

        </div>

    </div>

</template>

<script setup>

import {computed, inject, onMounted, reactive, ref} from "vue";

import {useCart} from "../../store/Cart";
import {storeToRefs} from "pinia";
import {useErrorStore} from '../../store/Error'
import {useVmcSubsidyStore} from '../../store/VmcSubsidies'


const vmc_subsidy = useVmcSubsidyStore();
const cartStore = useCart()
const {cart_list} = storeToRefs(cartStore)
const {subsidy} = storeToRefs(vmc_subsidy)
const {getFoodCart, deleteFoodMenu, addQty} = cartStore
const {getSubsidy} = vmc_subsidy
const swal = inject('$swal')
const error = useErrorStore();
const subsidy_amount = ref();
onMounted(() => {

    getFoodCart('adding')
    getSubsidy()

})


const cartMenuComputed = reactive({
    total_price: computed(() => useCart().total_price),
    valid_cart: computed(() => useCart().valid_date_cart)
})

// watch(
//     () => useCart().valid_date_cart,
//     async (newValue) => {
//         console.log(newValue);
//     }, {deep: true}
// )


const cartQuantity = _.debounce(function (cart, instance) {
    addQty(cart, instance)
}, 100);

const netTotal = (total) => {
    return total - subsidy_amount.value
}

const subsidyAmount = (total, percentage) => {
    let subsidy = parseFloat(percentage) / 100;
    subsidy_amount.value = total * subsidy;
    return subsidy_amount.value;
}


const removeFoodMenu = async (id) => {

    swal({
        icon: 'error',
        title: 'Do you want to delete this menu?',
        showCancelButton: true,
        confirmButtonText: 'Yes',
    }).then(async (result) => {
        if (await result.isConfirmed) {
            await deleteFoodMenu(id)
            await swal({
                icon: 'success',
                title: 'Deleted',
                text: 'successfully deleted',
                showConfirmButton: false,
                timer: 800
            })
        }
    })
}


</script>

<style scoped>

</style>
