<template>

    <div class="container px-3 my-5 clearfix">
        <div class="card">
            <div class="card-body">

                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Food Menu</th>
                            <th hidden>Price</th>
                            <th>Quantity</th>
                            <th hidden>Total</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="(cart,index) in cartMenuComputed.valid_cart" :key="cart.id">
                            <td>{{ index + 1 }}</td>
                            <td>
                                <div class="card mb-3" style="max-width:540px;;">
                                    <div class="row g-0">
                                        <div class="col-md-4">
                                            <template
                                                v-if="cart.food_menu.image_details && cart.food_menu.image_details.filename">
                                                <img :src="'/'+cart.food_menu.image_details.filename" alt=""
                                                     class="img-fluid rounded-start" style="width:300px"
                                                >
                                            </template>
                                            <template v-else>
                                                <img
                                                    alt="" class="img-fluid rounded-start "
                                                    src="http://placehold.jp/3d4070/ffffff/.png?text=no%20image"
                                                    style="width:300px"
                                                >
                                            </template>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="card-body">
                                                <h5 class="card-title">{{ cart.food_menu.date }}</h5>
                                                <p class="card-text h6">{{ cart.food_menu.name }}</p>
                                                <p class="card-text">{{ cart.food_menu.ingredients }}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td hidden>
                                {{ cart.food_menu.price }}
                            </td>
                            <td>
                                {{ cart.quantity }}
                            </td>
                            <td hidden>
                                {{ cart.food_menu.price * cart.quantity }}
                            </td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr hidden>
                            <td colspan="4"></td>
                            <td class="text-nowrap">
                                <label class="text-muted font-weight-normal m-0">Total</label>
                                <div class="text-large text-end"><h4>{{
                                        cartMenuComputed.total_price
                                    }}</h4><strong>

                                </strong></div>
                            </td>
                        </tr>
                        <tr hidden>
                            <td colspan="4"></td>
                            <td class="text-nowrap">
                                <label class="text-muted font-weight-normal m-0">VMC Subsidy({{
                                        subsidy.percentage
                                    }}% off)</label>
                                <div class="text-large text-end"><h5>
                                    -{{ subsidyAmount(cartMenuComputed.total_price, subsidy.percentage) }}</h5><strong>

                                </strong></div>
                            </td>
                        </tr>

                        <tr hidden>
                            <td colspan="4"></td>
                            <td class="text-nowrap">
                                <label class="text-muted font-weight-normal m-0">Total Net</label>
                                <div class="text-large text-end text-success"><h2>P {{
                                        netTotal(cartMenuComputed.total_price)
                                    }}</h2><strong>

                                </strong></div>
                            </td>
                        </tr>
                        </tfoot>
                    </table>
                </div>


            </div>
            <div class="card-footer text-end text-nowrap">
                <router-link :to="{ name: 'CartView' }" class="btn btn-link" exact
                             tag="button">

                    Back to Basket

                </router-link>
                <button v-if="cartMenuComputed.valid_cart.length" class="btn btn-success" @click="reserved">
                    Reserve
                </button>
            </div>
        </div>
    </div>
</template>

<script setup>
import {useCart} from "../../store/Cart";
import {computed, inject, onMounted, reactive, ref} from "vue";
import {storeToRefs} from "pinia";
import {useVmcSubsidyStore} from "../../store/VmcSubsidies";
import {useOrder} from "../../store/Order";
import {useRoute, useRouter,} from "vue-router";

const route = useRoute();
const router = useRouter();
const swal = inject('$swal')
const vmc_subsidy = useVmcSubsidyStore();
const {subsidy} = storeToRefs(vmc_subsidy)
const {getSubsidy} = vmc_subsidy
const orderStore = useOrder()
const {isLoading} = storeToRefs(orderStore)
const {submitOrder} = orderStore


const cartMenuComputed = reactive({
    total_price: computed(() => useCart().total_price),
    valid_cart: computed(() => useCart().valid_date_cart)
})

const subsidy_amount = ref();
const subsidy_decimal = ref();
const net_total = ref();


const netTotal = (total) => {
    net_total.value = total - subsidy_amount.value
    return net_total.value
}

const subsidyAmount = (total, percentage) => {
    let subsidy = parseFloat(percentage) / 100;
    subsidy_decimal.value = subsidy;
    subsidy_amount.value = total * subsidy;
    return subsidy_amount.value;
}

const reserved = () => {


    swal({
        icon: 'warning',
        title: 'Are you sure for your order?',
        showCancelButton: true,
        confirmButtonText: 'Yes',
    }).then(async (result) => {
        if (await result.isConfirmed) {

            await submitOrder(cartMenuComputed.valid_cart, subsidy_decimal.value, net_total.value, cartMenuComputed.total_price)
            await swal({
                icon: 'success',
                title: 'Success',
                text: 'successfully ordered',
                showConfirmButton: false,
                timer: 800
            })

            await router.push({
                name: "OrdersView",
            });
        }
    })
}

onMounted(() => {
    getSubsidy()
})

</script>

<style scoped>

</style>
