<template>
    <main>
        <div class="container-fluid px-4">
            <slot name="page-name"></slot>
            <!--            <ol class="breadcrumb mb-4">-->
            <!--                <li class="breadcrumb-item active">dashboard</li>-->
            <!--            </ol>-->

            <div class="row">
                <div class="col-sm-12 col-md-3 col-lg-3 col-xl-3 mb-4">
                    <Datepicker v-model="date_range" :clearable="false" placeholder="select date" week-picker/>

                </div>


            </div>

            <div class="row justify-content-center">


                <div v-if="error.errors.menu_id" class="alert alert-danger" role="alert">
                    {{ error.errors.menu_id.toString() }}
                </div>

                <svg style="display: none;" xmlns="http://www.w3.org/2000/svg">
                    <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
                        <path
                            d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                    </symbol>
                    <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
                        <path
                            d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
                    </symbol>
                    <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
                        <path
                            d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                    </symbol>
                </svg>
                <div class="alert alert-primary d-flex align-items-center" role="alert">
                    <svg aria-label="Info:" class="bi flex-shrink-0 me-2" height="24" role="img" width="24">
                        <use xlink:href="#info-fill"/>
                    </svg>
                    <div class="h2">
                        Cut-off reservations are every Friday of the current week.
                    </div>
                </div>
                <template v-for="(menu,index) in food_menus" :key="menu.id">
                    <div class="col-sm-12 col-md-2 col-lg-2 col-xl-2 mb-3">

                        <food-container :menu="menu" @modalHiddenEvent="modalClose" @show-menu="showViewModal"
                                        @add-to-cart="toCart" @reserve-now="toReserveNow"></food-container>
                    </div>
                </template>
                <template v-if="food_menus && food_menus.length === 0">
                    <div class="col-sm-12 col-md-2 col-lg-2 col-xl-2 mb-3">
                        NO DATA
                    </div>
                </template>

            </div>
        </div>
    </main>

    <Modal ref="thisModal" :backdrop="modalProperties.backdrop" :keyboard="modalProperties.keyboard"
           :size="modalProperties.size" :title="modalProperties.title" @modalHiddenEvent="modalClose">
        <template #body>
            <food-view v-if="modalProperties.type==='view'" @add-to-cart="toCart"></food-view>
        </template>
        <template #footer>
            <!--                        <button class="btn btn-primary">Extra footer button</button>-->
        </template>
    </Modal>
</template>

<script setup>

import {ref, watch, onMounted, inject} from "vue";
import {storeToRefs} from "pinia";
import {useRoute, useRouter,} from "vue-router";

import moment from 'moment';
import Modal from "../components/modalComponent"
import FoodContainer from '../food-maintenance/foodContainer'
import FoodView from '../food-maintenance/foodView'
import {useErrorStore} from "../../store/Error";

import {useSelectedDate} from "../../store/SelectedDate";
import {useFoodMenu} from "../../store/FoodMenu";
import {useCart} from "../../store/Cart";

const route = useRoute();
const router = useRouter();
const selectedDateStore = useSelectedDate()
const foodMenuStore = useFoodMenu()
const cartStore = useCart()
const {date_range} = storeToRefs(selectedDateStore)
const {food_menus, form_data} = storeToRefs(foodMenuStore)
const {quantity, isLoading} = storeToRefs(cartStore)
const {getFoodMenuFilterByDate, show} = foodMenuStore
const error = useErrorStore();

const {addToCart} = cartStore

const swal = inject('$swal')

let thisModal = ref(null);

const modalProperties = ref({
    title: null,
    backdrop: null,
    keyboard: null,
    type: null,
    size: null
})


onMounted(() => {

})


const modalClose = () => {
    let query = Object.assign({}, route.query);

    form_data.value = {
        date_selected: null,
        name: null,
        ingredients: null,
        allergens: null,
        price: 0,
        image_upload: {},
        is_date_valid: null
    }

    delete query.action;
    delete query.id;
    router.replace({query});
}

const showViewModal = async (id) => {
    await router.push({
        name: "reservationIndex",
        query: {...route.query, 'action': 'view', 'id': id}
    });
    modalProperties.value.title = 'VIEW'
    modalProperties.value.backdrop = 'static'
    modalProperties.value.keyboard = true
    modalProperties.value.type = 'view'
    modalProperties.value.size = 'xl'
    if (await thisModal.value) {
        await show(id);
        quantity.value = 1
        await thisModal.value.show();
    }
}

const toReserveNow = async (payload) => {
    await addToCart(payload);

    await router.push({
        name: "CartView",
    });

    // await swal({
    //     icon: 'success',
    //     title: 'Success',
    //     text: 'Added to cart',
    //     showConfirmButton: false,
    //     timer: 800
    // })

    if (thisModal.value) {
        await thisModal.value.hide();
    }
}

const toCart = async (payload) => {


    try {
        await addToCart(payload);
        await getFoodMenuFilterByDate(date_range.value)
        await swal({
            icon: 'success',
            title: 'Success',
            text: 'Added to cart',
            showConfirmButton: false,
            timer: 800
        })

        if (thisModal.value) {
            await thisModal.value.hide();
        }
    } catch (err) {
        isLoading.value.add_to_cart = false
    }
}

watch(() => route.query['action'],
    async (newValue) => {
        if (newValue === 'view') {
            await showViewModal(route.query['id'])
        } else {
            if (thisModal.value) {
                await thisModal.value.hide()
            }

        }
    }, {immediate: true}
)


watch(
    () => date_range.value,
    async (newValue) => {
        let start_date = moment(newValue[0]).format('yyyy-MM-DD');
        let end_date = moment(newValue[1]).format('yyyy-MM-DD');
        await router.push({
            name: "reservationIndex",
            query: {...route.query, 'start-date': start_date, 'end-date': end_date}
        });
    },
)


watch(() => route.query['start-date'],
    async (query) => {

        if (query == null) {
            await getFoodMenuFilterByDate(date_range.value)
        } else {

            let start_date = moment(route.query['start-date'], 'yyyy-MM-DD', true)
            let end_date = moment(route.query['start-date'], 'yyyy-MM-DD', true)

            if (start_date.isValid() && end_date.isValid()) {
                date_range.value = [
                    moment(route.query['start-date']).format('yyyy-MM-DD'),
                    moment(route.query['end-date']).format('yyyy-MM-DD'),
                ]

                await router.push({
                    name: "reservationIndex",
                    query: {
                        ...route.query,
                        'start-date': route.query['start-date'],
                        'end-date': route.query['end-date']
                    }
                });

                await getFoodMenuFilterByDate(date_range.value)
            } else {

                let start_date = moment(date_range.value[0]).format('yyyy-MM-DD');
                let end_date = moment(date_range.value[1]).format('yyyy-MM-DD');

                await router.push({
                    name: "reservationIndex",
                    query: {...route.query, 'start-date': start_date, 'end-date': end_date}
                });

                await getFoodMenuFilterByDate(date_range.value)
            }

        }
    }, {immediate: true}
)

</script>

<style scoped>

</style>
