<template>
    <div class="col-xl-12 col-md-12">
        <div class="mb-3">
            <label class="form-label" for="scan-input"></label>
            <input v-model="cart_id" class="form-control" placeholder="Scan or Input QR Code" type="text"
                   @keyup.enter="submitInput">
        </div>
    </div>
    <div v-if="claimed_food && claimed_food.food_menu && claimed_food.status==='not-empty'"
         class="col-xl-12 col-md-12 row justify-content-center">
        <div class="card text-white bg-success mb-3">
            <div class="card-header h2">Success</div>
            <div class="card-body">
                <h1 class="card-title row justify-content-center">FOOD CLAIMED SUCCESSFULLY</h1>
                <ul class="card-text h3">
                    <li>Employee Name: {{ cart_by_id.user.name }}</li>
                    <li>Date: {{ claimed_food.food_menu.date }}</li>
                </ul>

            </div>
        </div>

        <div class="card text-white bg-info mb-3 ">
            <div class="card-header h2 text-center">Please reload your order list for status confirmation, Thank you
            </div>
        </div>
    </div>
    <div v-if="claimed_food.status==='empty'">
        <div class="card text-white bg-warning mb-3">
            <div class="card-header h2">Opppsss...</div>
            <div class="card-body">
                <h1 class="card-title row justify-content-center">You don't have any order for today or you already
                    claimed your food.</h1>

            </div>
        </div>
    </div>
</template>

<script setup>
import {inject, onMounted, ref} from "vue";
import {useCart} from "../../store/Cart";
import {storeToRefs} from "pinia";

const cartStore = useCart()
const {
    cart_by_id, claimed_food
} = storeToRefs(cartStore)
const {getCartById, claimFood} = cartStore
const swal = inject('$swal')
const cart_id = ref();

const submitInput = async () => {
    try {
        await getCartById(cart_id.value)
        await claimFood(cart_by_id.value.user.username)
        cart_id.value = null
    } catch (err) {
        cart_id.value = null
        claimed_food.value = {
            status: null
        }
        await swal({
            icon: 'error',
            title: 'Error QR Value!',
            text: 'Opps...QR value is not valid!',
            footer: '<a href="">Please Contact Support</a>'
        })
    }

}

onMounted(() => {

})

</script>

<style scoped>

</style>
