<template>

<!--        <router-view v-slot="{Component,route }">-->
<!--            <transition name="fade">-->
<!--                <div :key="route.name">-->
<!--                    <component :is="Component" />-->
<!--                </div>-->

<!--            </transition>-->
<!--        </router-view>-->
<!--        <router-view v-slot="{ Component,route }">-->
<!--            <transition name="slide">-->
<!--                <div :key="route.name">-->
<!--                    <component :is="Component" />-->
<!--                </div>-->

<!--            </transition>-->
<!--        </router-view>-->
        <router-view></router-view>

</template>

<script>

export default {

}
</script>
<style scoped>
.slide-enter-active,
.slide-leave-active {
    transition: all 0.75s ease-out;
}


.slide-enter-to {
    position: absolute;
    right: 0;
}


.slide-enter-from {
    position: absolute;
    right: -100%;
}


.slide-leave-to {
    position: absolute;
    left: -100%;
}


.slide-leave-from {
    position: absolute;
    left: 0;
}
</style>
<style>
.vue-skeletor {
    position: relative;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.12); }
.vue-skeletor:not(.vue-skeletor--shimmerless):after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateX(-100%);
    background-image: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.3), rgba(37, 22, 22, 0));
    animation: shimmer 1.5s infinite;
    content: ''; }
.vue-skeletor--rect, .vue-skeletor--circle {
    display: block; }
.vue-skeletor--circle {
    border-radius: 50%; }
.vue-skeletor--pill, .vue-skeletor--text {
    border-radius: 9999px; }
.vue-skeletor--text {
    line-height: 1;
    display: inline-block;
    width: 100%;
    height: inherit;
    vertical-align: middle;
    top: -1px; }

@keyframes shimmer {
    100% {
        transform: translateX(100%); } }
</style>
