<template>
    <div class="col-xl-12 col-md-12">
        <div class="card mb-4">
            <div class="card-header">
                User List
            </div>

            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <button class="btn btn-success mb-2" type="button" @click="showData()">Add User
                        </button>
                    </div>


                </div>
                <div class="row">
                    <div class="col-md-1 mb-2">
                        <label for="perPage" class="col-form-label">Show:</label>
                        <select class="form-select" aria-label="perPage"
                                v-model="table.currentPage">
                            <option v-for="(page,index) in showPage" :value="page"
                                    :key="index" :selected="page ===table.currentPage"
                            >{{ page }}
                            </option>
                        </select>

                    </div>
                    <div class="col-md-2 offset-md-9 mb-2">
                        <label for="searchLabel" class="col-form-label">Search:</label>
                        <input type="text" class="form-control" v-model="table.search">
                    </div>
                </div>
                <table class="table table-bordered table-sm">
                    <thead>
                    <tr>
                        <th @click="sort('name')">
                            <div class="inline-block">
                                <div class="filter-asc" :class="{'active-filter-asc':table.sortClassActive.activeAsc}"></div>
                                <div class="filter-desc"
                                     :class="{'active-filter-desc':table.sortClassActive.activeDesc}">
                                </div>
                            </div>Full Name</th>
                        <th @click="sort('email')">
                            <div class="inline-block">
                                <div class="filter-asc" :class="{'active-filter-asc':table.sortClassActive.activeAsc}"></div>
                                <div class="filter-desc"
                                     :class="{'active-filter-desc':table.sortClassActive.activeDesc}">
                                </div>
                            </div>Email</th>
                        <th @click="sort('username')">
                            <div class="inline-block">
                                <div class="filter-asc" :class="{'active-filter-asc':table.sortClassActive.activeAsc}"></div>
                                <div class="filter-desc"
                                     :class="{'active-filter-desc':table.sortClassActive.activeDesc}">
                                </div>
                            </div>Username</th>
                        <th>Roles</th>
                        <th @click="sort('created_at')">
                            <div class="inline-block">
                                <div class="filter-asc" :class="{'active-filter-asc':table.sortClassActive.activeAsc}"></div>
                                <div class="filter-desc"
                                     :class="{'active-filter-desc':table.sortClassActive.activeDesc}">
                                </div>
                            </div>Created at</th>
                        <th>Options</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-if="isLoading" v-for="i in 10">
                        <td>
                            <Skeletor></Skeletor>
                        </td>
                        <td>
                            <Skeletor></Skeletor>
                        </td>
                        <td>
                            <Skeletor></Skeletor>
                        </td>
                        <td>
                            <Skeletor></Skeletor>
                        </td>
                        <td>
                            <Skeletor></Skeletor>
                        </td>
                        <td>
                            <Skeletor></Skeletor>
                        </td>
                    </tr>
                    <tr v-for="(user) in userData.data" :key="user.id" v-else>
                        <td>{{ user.name }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.username }}</td>
                        <td>
                            <span class="badge bg-primary"
                                  v-for="(role) in user.roles">
                                        {{ role.name }}
                                    </span>
                        </td>
                        <td>{{ user.created_at }}</td>
                        <td>
                            <button type="button" class="btn btn-primary" @click="showData(user.id)">
                                Edit
                            </button>
                            <button type="button" class="btn btn-danger" @click="deleteData(user.id)">
                                Delete
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <p class="float-left">Showing {{ userData.from || 0 }} to {{ userData.to || 0 }} of
                    {{ userData.total || 0 }}
                    entries</p>
                <LaravelVuePagination class="float-right" :data="userData" @pagination-change-page="dataTable"
                                      :limit="5"/>
            </div>

        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="userModal" tabindex="-1" aria-labelledby="userEditModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="userEditModalLabel" v-if="user.id">Edit User</h5>
                    <h5 class="modal-title" id="userEditModalLabel" v-else>Create User</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="mb-3">
                            <label for="user-fullname" class="col-form-label">Full Name:</label>
                            <input type="text" class="form-control" id="user-fullname" v-model="user.name"
                                   :class="error.errors.name ? 'is-invalid' : ''">
                            <div v-if="error.errors.name" class="invalid-feedback fw-bolder">
                                {{ error.errors.name.toString() }}
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="user-username" class="col-form-label">Username:</label>
                            <input type="text" class="form-control" id="user-username" v-model="user.username"
                                   :class="error.errors.username ? 'is-invalid' : ''" autocomplete="username">
                            <div v-if="error.errors.username" class="invalid-feedback fw-bolder">
                                {{ error.errors.username.toString() }}
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="user-email" class="col-form-label">Email:</label>
                            <input type="text" class="form-control" id="user-email" v-model="user.email"
                                   :class="error.errors.email ? 'is-invalid' : ''">
                            <div v-if="error.errors.email" class="invalid-feedback fw-bolder">
                                {{ error.errors.email.toString() }}
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="user-password" class="col-form-label">Password:</label>
                            <input type="password" class="form-control" id="user-password" v-model="user.password"
                                   :class="error.errors.password ? 'is-invalid' : ''" autocomplete="new-password">
                            <div v-if="error.errors.password" class="invalid-feedback fw-bolder">
                                {{ error.errors.password.toString() }}
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="user-password_confirmation" class="col-form-label">Confirm Password:</label>
                            <input type="password" class="form-control" id="user-password_confirmation" v-model="user.password_confirmation"
                                   :class="error.errors.password_confirmation ? 'is-invalid' : ''" autocomplete="new-password">
                            <div v-if="error.errors.password_confirmation" class="invalid-feedback fw-bolder">
                                {{ error.errors.password_confirmation.toString() }}
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="permissionList" class="col-form-label">Roles:</label>
                            <select class="form-select" multiple  aria-label="multiple select roles" name="roles[]"
                                    v-model="user.roles" :class="error.errors.roles ? 'is-invalid' : ''">
                                <option v-for="(role) in roles" :value="role.name"
                                        :key="role.id" :selected="user.roles === role.name"
                                >{{ role.name }}
                                </option>

                            </select>
                            <div v-if="error.errors.roles" class="invalid-feedback fw-bolder">
                                {{ error.errors.roles.toString() }}
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" v-if="user.id"
                            @click.prevent="updateData(user.id)">
                        Update
                    </button>
                    <button type="button" class="btn btn-primary" v-else @click.prevent="submitData">Save</button>
                </div>
            </div>
        </div>
    </div>

</template>

<script setup>

import {onMounted, onBeforeUnmount, inject, reactive, watch} from "vue";
import {useUsersStore} from "../../store/Users";
import {useRoleStore} from "../../store/Roles";
import {storeToRefs} from "pinia";
import LaravelVuePagination from 'laravel-vue-pagination';
import {useErrorStore} from "../../store/Error";

const swal = inject('$swal')
const userStore = useUsersStore()
const roleStore = useRoleStore()

const {roles} = storeToRefs(roleStore)
const {userData, isLoading} = storeToRefs(userStore)

const {fetchUsersForDatatable, fetchUser, updateUser, createUser,removeUser} = userStore;
const {allRoles} = roleStore;
const error = useErrorStore();
const table = reactive({
    currentSort: 'name',
    currentSortDir: 'asc',
    search: '',
    isSearch: false,
    currentPage: '10',
    sortClassActive: {
        'activeDesc': false,
        'activeAsc': true
    }
})
const showPage = ['10', '50', '100']

let {user} = storeToRefs(userStore)
let pages = {}
let modalForm = null


const dataTable = _.debounce(function (page) {
    if (typeof page === 'undefined') {
        pages = 1;
    }
    pages = page;
    fetchUsersForDatatable(table, pages);
}, 300);


const showData = async (id = null) => {
    let modal = bootstrap.Modal.getOrCreateInstance(modalForm)
    if(id){
        await fetchUser(id)
        modal.show();
    }else{
        modal.show();
    }

}

const updateData = async (id) => {
    let modal = bootstrap.Modal.getOrCreateInstance(modalForm)
    await updateUser(id)
    await dataTable(pages)
    await modal.hide()
    await swal({
        icon: 'success',
        title: 'Success',
        text: 'successfully updated',
        showConfirmButton: false,
        timer: 800
    })
}


const submitData = async () => {
    let modal = bootstrap.Modal.getOrCreateInstance(modalForm)
    await createUser()
    await dataTable(pages);
    modal.hide();
    await swal({
        icon: 'success',
        title: 'Success',
        text: 'successfully added',
        showConfirmButton: false,
        timer: 800
    })

}

const deleteData = (id) =>{
    swal({
        icon: 'error',
        title: 'Do you want to delete this user?',
        showCancelButton: true,
        confirmButtonText: 'Yes',
    }).then((result) => {
        if (result.isConfirmed) {
            removeUser(id)
            swal({
                icon: 'success',
                title: 'Deleted',
                text: 'successfully deleted',
                showConfirmButton: false,
                timer: 800
            })
        }
    })


}

const sort = (s) => {
    if (s === table.currentSort) {
        table.currentSortDir = table.currentSortDir === 'asc' ? 'desc' : 'asc';
        if (table.currentSortDir === 'asc') {
            table.sortClassActive.activeAsc = true;
            table.sortClassActive.activeDesc = false;
        } else {
            table.sortClassActive.activeAsc = false;
            table.sortClassActive.activeDesc = true;
        }
    }
    table.currentSort = s;
    dataTable(pages)
}

watch(
    () => [table.search,table.currentPage],
    () => {
        dataTable(pages);
    }
)

onMounted(() => {
    modalForm = document.getElementById('userModal')
    modalForm.addEventListener('hidden.bs.modal', function (event) {
        userStore.$state = {
            user: {
                roles:[]
            }
        };
        error.$reset()
    })
    allRoles()
    dataTable(pages);
})

onBeforeUnmount(() => {
    error.$reset()
})
</script>

<style scoped>
.filter-asc {
    border-bottom: 5px solid #ccc;
    margin-bottom: 1px
}

.filter-asc, .filter-desc {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent
}

.filter-desc {
    border-top: 5px solid #ccc;
    margin-top: 1px
}

.active-filter-asc {
    border-bottom: 5px solid #a3a3a3
}

.active-filter-desc {
    border-top: 5px solid #a3a3a3
}

.inline-block {
    display: inline-block
}
</style>
