<template>
    <div class="col-xl-12 col-md-12">
        <div class="card mb-4">
            <div class="card-header">
                Permission List
            </div>

            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <button class="btn btn-success mb-2" type="button" @click="showData(null)">Add Permission
                        </button>
                    </div>


                </div>
                <div class="row">
                    <div class="col-md-1 mb-2">
                        <label for="perPage" class="col-form-label">Show:</label>
                        <select class="form-select" aria-label="perPage"
                                v-model="table.currentPage">
                            <option v-for="(page,index) in showPage" :value="page"
                                    :key="index" :selected="page ===table.currentPage"
                            >{{ page }}
                            </option>
                        </select>

                    </div>
                    <div class="col-md-2 offset-md-9 mb-2">
                        <label for="searchLabel" class="col-form-label">Search:</label>
                        <input type="text" class="form-control" v-model="table.search">
                    </div>
                </div>
                <table class="table table-bordered table-sm">
                    <thead>
                    <tr>
                        <th @click="sort('name')">
                            <div class="inline-block">
                            <div class="filter-asc" :class="{'active-filter-asc':table.sortClassActive.activeAsc}"></div>
                            <div class="filter-desc"
                                 :class="{'active-filter-desc':table.sortClassActive.activeDesc}">
                            </div>
                        </div>Permission Name</th>
                        <th @click="sort('created_at')">
                            <div class="inline-block">
                                <div class="filter-asc" :class="{'active-filter-asc':table.sortClassActive.activeAsc}"></div>
                                <div class="filter-desc"
                                     :class="{'active-filter-desc':table.sortClassActive.activeDesc}">
                                </div>
                            </div>Created at</th>
                        <th>Options</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-if="isLoading" v-for="i in 10">
                        <td>
                            <Skeletor></Skeletor>
                        </td>
                        <td>
                            <Skeletor></Skeletor>
                        </td>
                        <td>
                            <Skeletor></Skeletor>
                        </td>
                    </tr>
                    <tr v-for="(permission) in permissionData.data" :key="permission.id" v-else>
                        <td>{{ permission.name }}</td>
                        <td>{{ permission.created_at }}</td>
                        <td>
                            <button type="button" class="btn btn-primary" @click="showData(permission.id)">
                                Edit
                            </button>
                            <button type="button" class="btn btn-danger" @click="deleteData(permission.id)">
                                Delete
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <p class="float-left">Showing {{ permissionData.from || 0 }} to {{ permissionData.to || 0 }} of
                    {{ permissionData.total || 0 }}
                    entries</p>
                <LaravelVuePagination class="float-right" :data="permissionData" @pagination-change-page="dataTable"
                                      :limit="5"/>
            </div>

        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="permissionModal" tabindex="-1" aria-labelledby="permissionEditModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">

                    <h5 class="modal-title" id="permissionEditModalLabel" v-if="permission.id">Edit Permission</h5>
                    <h5 class="modal-title" id="permissionEditModalLabel" v-else>Create Permission</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="mb-3">
                            <label for="permission-name" class="col-form-label">Permission Name:</label>
                            <input type="text" class="form-control" id="permission-name" v-model="permission.name"
                                   :class="error.errors.name ? 'is-invalid' : ''">
                            <div v-if="error.errors.name" class="invalid-feedback fw-bolder">
                                {{ error.errors.name.toString() }}
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" v-if="permission.id"
                            @click.prevent="updateData(permission.id)">
                        Update
                    </button>
                    <button type="button" class="btn btn-primary" v-else @click.prevent="submitData">Save</button>
                </div>
            </div>
        </div>
    </div>

</template>

<script setup>

import {onMounted, onBeforeUnmount, inject, reactive, watch} from "vue";
import {usePermissionStore} from "../../store/Permissions";
import {storeToRefs} from "pinia";
import LaravelVuePagination from 'laravel-vue-pagination';
import {useErrorStore} from "../../store/Error";

const swal = inject('$swal')
const permissionStore = usePermissionStore()
const {permissionData, isLoading} = storeToRefs(permissionStore)
const {fetchPermissionForDatatable, fetchPermission, updatePermission, createPermission,removePermission} = permissionStore;
const error = useErrorStore();
const table = reactive({
    currentSort: 'name',
    currentSortDir: 'asc',
    search: '',
    isSearch: false,
    currentPage: '10',
    sortClassActive: {
        'activeDesc': false,
        'activeAsc': true
    }
})
const showPage = ['10', '50', '100']

let {permission} = storeToRefs(permissionStore)
let pages = {}
let modalPermission = null


const dataTable = _.debounce(function (page) {
    if (typeof page === 'undefined') {
        pages = 1;
    }
    pages = page;
    fetchPermissionForDatatable(table, pages);
}, 300);

const showData = async (id = null) => {
    let modal = bootstrap.Modal.getOrCreateInstance(modalPermission)

    if(id){
        await fetchPermission(id)
        modal.show();
    }else{
        modal.show();
    }

}

const updateData = async (id) => {
    let modal = bootstrap.Modal.getOrCreateInstance(modalPermission)
    await updatePermission(id)
    await dataTable(pages)
    await modal.hide()
    await swal({
        icon: 'success',
        title: 'Success',
        text: 'successfully updated',
        showConfirmButton: false,
        timer: 800
    })
}

const submitData = async () => {
    let modal = bootstrap.Modal.getOrCreateInstance(modalPermission)
    await createPermission()
    await dataTable(pages);
    modal.hide();
    await swal({
        icon: 'success',
        title: 'Success',
        text: 'successfully added',
        showConfirmButton: false,
        timer: 800
    })

}

const deleteData = (id) =>{
    swal({
        icon: 'error',
        title: 'Do you want to delete this permission?',
        showCancelButton: true,
        confirmButtonText: 'Yes',
    }).then((result) => {
        if (result.isConfirmed) {
            removePermission(id)
            swal({
                icon: 'success',
                title: 'Deleted',
                text: 'successfully deleted',
                showConfirmButton: false,
                timer: 800
            })
        }
    })


}

const sort = (s) => {
    if (s === table.currentSort) {
        table.currentSortDir = table.currentSortDir === 'asc' ? 'desc' : 'asc';
        if (table.currentSortDir === 'asc') {
            table.sortClassActive.activeAsc = true;
            table.sortClassActive.activeDesc = false;
        } else {
            table.sortClassActive.activeAsc = false;
            table.sortClassActive.activeDesc = true;
        }
    }
    table.currentSort = s;
    dataTable(pages)
}

watch(
    () => [table.search,table.currentPage],
    () => {
        dataTable(pages);
    }
)

onMounted(() => {
    modalPermission = document.getElementById('permissionModal')
    modalPermission.addEventListener('hidden.bs.modal', function (event) {
        permissionStore.$state = {
            permission: {}
        };
        error.$reset()
    })

    dataTable(pages);
})

onBeforeUnmount(() => {
    error.$reset()
})
</script>

<style scoped>
.filter-asc {
    border-bottom: 5px solid #ccc;
    margin-bottom: 1px
}

.filter-asc, .filter-desc {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent
}

.filter-desc {
    border-top: 5px solid #ccc;
    margin-top: 1px
}

.active-filter-asc {
    border-bottom: 5px solid #a3a3a3
}

.active-filter-desc {
    border-top: 5px solid #a3a3a3
}

.inline-block {
    display: inline-block
}
</style>
