<template>
    <div id="layoutAuthentication" class="bg-primary">
        <div id="layoutAuthentication_content">
            <main>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-5">
                            <div class="card shadow-lg border-0 rounded-lg mt-5">
                                <div class="card-header">
                                    <img class="img img-fluid" src="/logo/food-login.jpg">
                                    <h3 class="text-center font-weight-light my-4">VMC Food Reservation Portal</h3>
                                    <h4 class="text-center font-weight-light my-4"> Login</h4>

                                </div>
                                <div class="card-body">
                                    <form @submit.prevent="onSubmit">
                                        <div class="form-floating mb-3">
                                            <input id="inputEmail" v-model="credentials.email"
                                                   :class="error.errors.email ? 'is-invalid' : ''"
                                                   :disabled="loading" class="form-control"
                                                   placeholder="name@example.com"
                                                   type="text"/>
                                            <label for="inputEmail">Email address or Username</label>
                                            <div v-if="error.errors.email" class="invalid-feedback fw-bolder">
                                                {{ error.errors.email.toString() }}
                                            </div>
                                        </div>
                                        <div class="form-floating mb-3">
                                            <input id="inputPassword" v-model="credentials.password" :disabled="loading"
                                                   autocomplete="false"
                                                   class="form-control" placeholder="Password" type="password"/>
                                            <label for="inputPassword">Password</label>
                                        </div>
                                        <div class="form-check mb-3">
                                            <input id="inputRememberPassword" class="form-check-input" type="checkbox"
                                                   value=""/>
                                            <label class="form-check-label" for="inputRememberPassword">Remember
                                                Password</label>
                                        </div>
                                        <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
                                            <!--                                            <a class="small" href="password.html">Forgot Password?</a>-->
                                            <button :disabled="loading" class="btn btn-primary" type="submit">
                                                <div
                                                    v-if="loading"
                                                    class="spinner-border mx-3 spinner-border-sm"
                                                    role="status"
                                                >
                                                    <span class="visually-hidden">Loading...</span>
                                                </div>
                                                <span v-else>Login</span>
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
        <div id="layoutAuthentication_footer">
            <FooterBot></FooterBot>
        </div>
    </div>

</template>

<script setup>
import FooterBot from "../../components/footerBot";
import {ref, onBeforeUnmount} from "vue";
import {useRouter, useRoute} from "vue-router";

import {useAuthStore} from "../../store/Authentication";
import {useErrorStore} from "../../store/Error";

const credentials = ref({});
const loading = ref(false);
const router = useRouter();
const route = useRoute();
const error = useErrorStore();

const onSubmit = () => {
    loading.value = !loading.value;
    useAuthStore()
        .login(credentials.value)
        .then(() => router.push(route.query.redirect || '/'))
        .catch(() => (loading.value = !loading.value));
};

onBeforeUnmount(() => error.$reset());

</script>

<style scoped>

</style>
