<template>

    <main>
        <div class="container-fluid px-4">
            <h3>Welcome,
                <em v-if="$auth.user !== 'undefined'">{{ $auth.user.name }}</em>!</h3>
            <!--            <slot name="page-name"></slot>-->
            <!--            <h1 class="mt-4">Dashboard</h1>-->
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item active">Dashboard</li>
            </ol>
            <div class="row">
                <div class="col-xl-3 col-md-6">
                    <div class="card bg-success text-white mb-4">
                        <div class="card-body">Today's Menu</div>
                        <template v-if="todays_food && todays_food.date">
                            <div class="card-footer d-flex align-items-center justify-content-between">

                                <div class="card text-white bg-dark h-100">
                                    <div class="card-header">{{ todays_food.date }}</div>
                                    <img v-if=" todays_food.image_details && todays_food.image_details.filename"
                                         :alt="todays_food.name"
                                         :src="todays_food.image_details.filename" class="card-img-top"
                                    >
                                    <img v-else alt="no-image" class="card-img-top"

                                         src="http://placehold.jp/3d4070/ffffff/300x300.png?text=no%20image"
                                    >

                                    <div class="card-body ">
                                        <h5 class="card-title">{{ todays_food.name }}</h5>
                                    </div>
                                </div>


                            </div>
                        </template>
                        <template v-else>
                            <div class="card-footer d-flex align-items-center justify-content-between">
                                No menu for today
                            </div>
                        </template>

                    </div>
                </div>
                <div v-if="$is(['food_maintenance_admin'])" class="col-xl-2 col-md-6">
                    <div class="card bg-primary text-white mb-4">
                        <div class="card-body">Ordered</div>
                        <div class="card-footer text-center">
                            <h1 class="display-1">{{ order_count }}</h1>
                        </div>
                    </div>
                </div>
                <div v-if="$is(['food_maintenance_admin'])" class="col-xl-2 col-md-6">
                    <div class="card bg-warning text-white mb-4">
                        <div class="card-body">Claimed</div>
                        <div class="card-footer text-center">
                            <h1 class="display-1">{{ claimed_count }}</h1>
                        </div>
                    </div>
                </div>
            </div>
            <!--            <div class="row">-->
            <!--                <div class="col-xl-6">-->
            <!--                    <div class="card mb-4">-->
            <!--                        <div class="card-header">-->
            <!--                            <i class="fas fa-chart-area me-1"></i>-->
            <!--                            Welcome,-->
            <!--                            <em v-if="$auth.user !== 'undefined'">{{ $auth.user.username }}</em>!-->
            <!--                        </div>-->

            <!--                        <div class="card-body">-->
            <!--                            <Skeletor circle size="48"/>-->
            <!--                        </div>-->
            <!--                    </div>-->

            <!--                </div>-->
            <!--                <div class="col-xl-6">-->
            <!--                    <div class="card mb-4">-->
            <!--                        <div class="card-header">-->
            <!--                            <i class="fas fa-chart-bar me-1"></i>-->
            <!--                            Bar Chart Example-->
            <!--                        </div>-->
            <!--                        <div class="card-body">-->
            <!--                            <canvas id="myBarChart" height="40" width="100%"></canvas>-->
            <!--                        </div>-->
            <!--                    </div>-->
            <!--                </div>-->
            <!--            </div>-->
            <!--            <div class="card mb-4">-->
            <!--                <div class="card-header">-->
            <!--                    <i class="fas fa-table me-1"></i>-->
            <!--                    DataTable Example-->
            <!--                </div>-->
            <!--                <div class="card-body">-->

            <!--                </div>-->
            <!--            </div>-->
        </div>
    </main>
</template>

<script setup>
import {useDashboardStore} from "../store/Dashboard";
import {storeToRefs} from "pinia";
import {onMounted} from "vue";

const dashboardStore = useDashboardStore()

const {todays_food, order_count, claimed_count} = storeToRefs(dashboardStore)
const {getTodaysMenu, orderCount, claimedCount} = dashboardStore

onMounted(() => {
    getTodaysMenu()
    orderCount();
    claimedCount();
})

</script>
