<template>
    <div class="container px-3 my-5 clearfix">

        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-success mb-2" type="button" @click="showQR">Your QR Code
                </button>
            </div>


        </div>
        <div id="accordionExample" class="accordion">

            <template v-for="(order,index) in orders.data" v-if="orders.data && orders.data.length" :key="order.id">
                <div :class="{'bg-success bg-opacity-25':order.is_claimed}" class="accordion-item bg-opacity-25">
                    <h2 :id="`headingOne${order.id}`" class="accordion-header text-wrap">
                        <button :aria-controls="`collapseOne${order.id}`" :data-bs-target="`#collapseOne${order.id}`"
                                aria-expanded="true"
                                class="accordion-button"
                                data-bs-toggle="collapse" type="button">
                            <div class="table-responsive">
                                <table class="table table-borderless">
                                    <tbody>
                                    <tr>
                                        <td>#{{ index + 1 }}</td>
                                        <!--                                        <td class="text-nowrap">({{ totalItems(order.details) }})items</td>-->
                                        <td class="text-nowrap">({{ order.details.length }})items</td>
                                        <td class="text-nowrap">({{ totalClaimed(order.details) }})claimed
                                        </td>
                                        <td class="text-nowrap">{{ order.date_transaction }}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>


                        </button>
                    </h2>
                    <div :id="`collapseOne${order.id}`" :aria-labelledby="`headingOne${order.id}`"
                         class="accordion-collapse collapse "
                         data-bs-parent="#accordionExample">
                        <div class="accordion-body table-responsive">
                            <table class="table table-borderless table-sm">
                                <thead>
                                <tr>
                                    <th colspan="2">Food Menu</th>
                                    <th>Quantity</th>
                                    <!--                                    <th>Claimed</th>-->
                                    <!--                                    <th>Unclaimed</th>-->
                                    <th>Status</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="(detail,index) in order.details"
                                    :key="index">
                                    <td>
                                        <template
                                            v-if="detail.food_menu.image_details && detail.food_menu.image_details.filename">
                                            <img :src="'/'+detail.food_menu.image_details.filename" alt=""
                                                 class="img-fluid rounded-start" style="width:80px"
                                            >
                                        </template>
                                        <template v-else>
                                            <img
                                                alt="" class="img-fluid rounded-start "
                                                src="http://placehold.jp/3d4070/ffffff/.png?text=no%20image"
                                                style="width:80px"
                                            >
                                        </template>
                                    </td>
                                    <td>
                                        <h5 class="card-title">{{ detail.food_menu.date }}</h5>
                                        <p class="card-text h6">{{ detail.food_menu.name }}</p>
                                        <p class="card-text">{{ detail.food_menu.ingredients }}</p>
                                    </td>
                                    <td>
                                        {{ detail.quantity }}
                                    </td>
                                    <!--                                    <td>-->
                                    <!--                                        {{ detail.claimed_qty }}-->
                                    <!--                                    </td>-->
                                    <!--                                    <td>-->
                                    <!--                                        {{ detail.quantity - detail.claimed_qty }}-->
                                    <!--                                    </td>-->
                                    <td>
                                        <template v-if="!detail.is_claimed">
                                            <span class="badge bg-danger">Not Claimed</span>
                                        </template>
                                        <template v-else>
                                            <span class="badge bg-success">Claimed</span>
                                        </template>
                                    </td>
                                </tr>
                                </tbody>
                            </table>


                        </div>
                    </div>
                </div>
            </template>
            <template v-else>
                <h3>No Data</h3>
            </template>
            <p class="float-left">Showing {{ orders.from || 0 }} to {{ orders.to || 0 }} of
                {{ orders.total || 0 }}
                entries</p>
            <LaravelVuePagination :data="orders.data" :limit="5"
                                  class="float-right"
                                  @pagination-change-page="dataTable"/>
        </div>
    </div>

    <Modal ref="thisModal" :backdrop="modalProperties.backdrop" :keyboard="modalProperties.keyboard"
           :size="modalProperties.size" :title="modalProperties.title" @modalHiddenEvent="modalClose">
        <template #body>
            <QrView v-if="modalProperties.type==='qr_view'"></QrView>
        </template>
        <template #footer>
            <!--            <button class="btn btn-primary">Extra footer button</button>-->
        </template>
    </Modal>
</template>

<script setup>
import {onMounted, onBeforeUnmount, inject, reactive, watch, ref} from "vue";
import Modal from "../components/modalComponent"
import {useOrder} from "../../store/Order"

import {storeToRefs} from "pinia";
import ModalComponent from "../components/modalComponent";
import QrView from "./QrView";

const orderStore = useOrder();
const {orders} = storeToRefs(orderStore)
const {getOrders} = orderStore
let pages = {}

let thisModal = ref(null);

const modalProperties = ref({
    title: null,
    backdrop: null,
    keyboard: null,
    type: null,
    size: null
})


const showQR = async () => {
    modalProperties.value.title = 'QR Code'
    modalProperties.value.backdrop = 'static'
    modalProperties.value.keyboard = true
    modalProperties.value.type = 'qr_view'
    modalProperties.value.size = 'lg'
    if (await thisModal.value) {
        await thisModal.value.show();
    }
}


const table = reactive({
    currentPage: '10',
})

const totalItems = (array) => {
    let result = 0;
    for (const item of array) {
        result += Number(item.quantity);
    }
    return result;
}

const totalClaimed = (array) => {
    let result = 0;
    for (const item of array) {

        if (item.is_claimed) {
            result += 1;
        }
        // result += Number(item.quantity, 0) - Number(item.claimed_qty);
    }
    return result;
}

const dataTable = _.debounce(function (page) {
    if (typeof page === 'undefined') {
        pages = 1;
    }
    pages = page;
    getOrders(table, pages);
}, 300);

onMounted(() => {

    dataTable(pages);
})
</script>

<style scoped>

</style>
