<template>
    <div class="text-center">
        <!--        <QRCodeVue3-->
        <!--            value="Simple QR code"-->
        <!--        />-->

        <QRCodeVue3 v-if="cart"
                    :backgroundOptions="{ color: '#ffffff' }"
                    :cornersDotOptions="{ type: undefined, color: '#000000' }"
                    :cornersSquareOptions="{ type: '', color: '#000000' }"
                    :dotsOptions="{
                type: 'square',
                color: '#26249a',
                gradient: {
                  type: 'linear',
                  rotation: 0,
                  colorStops: [
                    { offset: 0, color: '#26249a' },
                    { offset: 1, color: '#26249a' },
                  ],
                },
              }"
                    :height="300"
                    :imageOptions="{ hideBackgroundDots: true, imageSize: 0.5, margin: 0 }"

                    :qrOptions="{ typeNumber: 0, mode: 'Byte', errorCorrectionLevel: 'H' }"
                    :value="cart.id"
                    :width="300"
                    fileExt="png"
                    image="/logo/VMC-Victorials-Milling-logo.jpg"
        ></QRCodeVue3>
        <label class="form-label">YOUR QR CODE:</label>
        <h3 class="text-center">{{ cart.id }}</h3>
    </div>

</template>

<script setup>
import {ref, watch, onMounted, inject} from "vue";
import {useAuthStore} from "../../store/Authentication";
import {useCart} from "../../store/Cart";
import {storeToRefs} from "pinia";
import QRCodeVue3 from "qrcode-vue3";

const authStore = useAuthStore()
const cartStore = useCart()
const {user} = storeToRefs(authStore)
const {cart} = storeToRefs(cartStore)
const {getCart} = cartStore


onMounted(() => {
    getCart('adding');
})


</script>

<style scoped>

</style>
