<template>
    <navTop></navTop>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <navSide></navSide>
        </div>
        <div id="layoutSidenav_content">
            <router-view v-slot="{Component,route }">
                    <div :key="route.name">
                        <component :is="Component">
                            <template #page-name>
                                <h1 class="mt-4">{{pageName}}</h1>
                            </template>
                        </component>
                    </div>

            </router-view>

<!--            <router-view></router-view>-->
<!--            <router-view></router-view>-->
            <footerBot></footerBot>
        </div>
    </div>
</template>

<script>
import navTop from './navTop.vue';
import navSide from './navSide.vue';
import footerBot from './footerBot.vue';
import {mapState} from 'pinia'
import { pageTitle } from '../store/PageTitle'
export default {
    name: "Main",
    components: {
        navTop,
        navSide,
        footerBot
    },
    computed:{
        ...mapState(pageTitle, ['pageName'])
    }

}

</script>

<style scoped>
.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}
</style>
