<template>
    <nav id="sidenavAccordion" class="sb-sidenav accordion sb-sidenav-dark">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <div class="sb-sidenav-menu-heading">Core</div>
                <router-link :to="{ name: 'home' }" class="nav-link" exact tag="a">

                    <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                    Dashboard

                </router-link>
                <!--                <div class="sb-sidenav-menu-heading">Administration</div>-->

                <!--                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseUserManagement" aria-expanded="false" aria-controls="collapseUserManagement">-->
                <!--                    <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>-->
                <!--                    User Management-->
                <!--                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>-->
                <!--                </a>-->
                <!--                <div class="collapse" id="collapseUserManagement" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">-->
                <!--                    <nav class="sb-sidenav-menu-nested nav">-->
                <!--                        <router-link tag="a" :to="{ name: 'TablePermission' }" class="nav-link" exact >-->

                <!--                            <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>-->
                <!--                            Permissions-->

                <!--                        </router-link>-->
                <!--                        <router-link tag="a" :to="{ name: 'TableRole' }" class="nav-link" exact >-->

                <!--                            <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>-->
                <!--                            Roles-->

                <!--                        </router-link>-->
                <!--                        <router-link tag="a" :to="{ name: 'TableUser' }" class="nav-link" exact >-->

                <!--                            <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>-->
                <!--                            Users-->

                <!--                        </router-link>-->
                <!--                    </nav>-->
                <!--                </div>-->
                <router-link :to="{ name: 'ReservationView' }" class="nav-link" exact
                             tag="a">

                    <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                    Reservation

                </router-link>

                <router-link v-if="$can('food_maintenance_view')" :to="{ name: 'foodMaintenanceIndex' }"
                             class="nav-link" exact
                             tag="a">

                    <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                    Food Maintenance

                </router-link>

                <router-link :to="{ name: 'OrdersView' }" class="nav-link" exact
                             tag="a">

                    <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                    My Orders

                </router-link>

                <router-link v-if="$can('order_main_view')" :to="{ name: 'OrdersMainList' }" class="nav-link" exact
                             tag="a">

                    <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                    Orders

                </router-link>
                <router-link v-if="$can('scan_qr')" :to="{ name: 'ScanQr' }" class="nav-link" exact
                             tag="a">

                    <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                    Scan QR

                </router-link>
            </div>
        </div>
        <div class="sb-sidenav-footer">
            <div class="small">Logged in as:</div>
            <template v-if="$auth.user !== 'undefined'">{{ $auth.user.name }}</template>
            <br>
            <button class="btn btn-info btn-sm" type="button" @click="onLogout">Logout</button>
        </div>
    </nav>
</template>

<script setup>
import {useAuthStore} from "../store/Authentication";
import {useRouter} from "vue-router";

const router = useRouter();
const auth = useAuthStore();
const onLogout = () => {
    auth.logout().then(() => router.push({name: "login"}));
};
</script>

<style scoped>

</style>
