<template>
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        <!-- Navbar Brand-->


        <router-link :to="{ name: 'home' }" class="navbar-brand ps-3 text-wrap" exact tag="a">


            VMC FOOD RESERVATION PORTAL

        </router-link>
        <!-- Sidebar Toggle-->
        <button id="sidebarToggle" class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" href="#!"
                @click="sideBarToggleBtn()"><i class="fas fa-bars"></i></button>
        <!-- Navbar Search-->
        <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
            <div class="input-group">
                <!--                <input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..." aria-describedby="btnNavbarSearch" />-->
                <!--                <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button>-->
            </div>
        </form>
        <!-- Navbar-->


        <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
            <li class="nav-item">
                <router-link :to="{ name: 'CartView' }" class="nav-link" exact tag="a">

                    <font-awesome-layers class="fa-2x" full-width>
                        <font-awesome-icon icon="fa-solid fa-basket-shopping"/>
                        <font-awesome-layers-text :value="cartGetters.valid_date_cart.length" counter
                                                  position="top-right"/>
                    </font-awesome-layers>

                </router-link>

            </li>
            <!--            <li class="nav-item dropdown">-->
            <!--                <a id="navbarDropdown" aria-expanded="false" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"-->
            <!--                   href="#"-->
            <!--                   role="button">-->
            <!--                    <i class="fas fa-user fa-fw"></i></a>-->
            <!--                <ul aria-labelledby="navbarDropdown" class="dropdown-menu dropdown-menu-end">-->
            <!--                    <li><a class="dropdown-item" href="#">Settings</a></li>-->
            <!--                    <li><a class="dropdown-item" href="#">Activity Log</a></li>-->
            <!--                    <li>-->
            <!--                        <hr class="dropdown-divider"/>-->
            <!--                    </li>-->
            <!--                    <li><a class="dropdown-item" @click="onLogout">Logout</a></li>-->
            <!--                </ul>-->
            <!--            </li>-->


        </ul>
    </nav>
</template>

<script setup>
import {useRouter} from "vue-router";
import {useAuthStore} from "../store/Authentication";
import {computed, onMounted, reactive} from "vue";
import {useCart} from "../store/Cart";

const auth = useAuthStore();
const router = useRouter();
const cartStore = useCart();

const {getFoodCart} = cartStore;
const cartGetters = reactive({
    valid_date_cart: computed(() => useCart().valid_date_cart)
})


onMounted(() => {
    getFoodCart('adding');
})

const onLogout = () => {
    auth.logout().then(() => router.push({name: "login"}));
};


const sideBarToggleBtn = () => {


    const sidebarToggle = document.body.querySelector('#sidebarToggle');
    if (sidebarToggle) {
        // Uncomment Below to persist sidebar toggle between refreshes
        if (localStorage.getItem('sb|sidebar-toggle') === 'true') {
            document.body.classList.toggle('sb-sidenav-toggled');
        }
        sidebarToggle.addEventListener('click', event => {
            event.preventDefault();
            document.body.classList.toggle('sb-sidenav-toggled');
            localStorage.setItem('sb|sidebar-toggle', document.body.classList.contains('sb-sidenav-toggled'));
        });
    }
};


</script>

<style>

</style>
