<template>
    <div class="col-xl-12 col-md-12">
        <div class="card mb-4">
            <div class="card-header">
                Role List
            </div>

            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <button class="btn btn-success mb-2" type="button" @click="showData()">Add Role</button>
                    </div>


                </div>
                <div class="row">
                    <div class="col-md-1 mb-2" >
                        <label for="perPage" class="col-form-label">Show:</label>
                        <select class="form-select" aria-label="perPage"
                                v-model="table.currentPage">
                            <option v-for="(page,index) in showPage" :value="page"
                                    :key="index" :selected="page ===table.currentPage"
                            >{{ page }}
                            </option>
                        </select>

                    </div>
                    <div class="col-md-2 offset-md-9 mb-2">
                        <label for="searchLabel" class="col-form-label">Search:</label>
                        <input type="text" class="form-control" v-model="table.search">
                    </div>

                </div>
                    <table class="table table-bordered table-sm">
                        <thead>
                        <tr>
                            <th  @click="sort('name')">
                                <div class="inline-block">
                                    <div class="filter-asc" :class="{'active-filter-asc':table.sortClassActive.activeAsc}"></div>
                                    <div class="filter-desc"
                                         :class="{'active-filter-desc':table.sortClassActive.activeDesc}"></div>
                                </div>Role Name</th>
                            <th>Permissions</th>
                            <th @click="sort('created_at')">
                                <div class="inline-block">
                                    <div class="filter-asc" :class="{'active-filter-asc':table.sortClassActive.activeAsc}"></div>
                                    <div class="filter-desc"
                                         :class="{'active-filter-desc':table.sortClassActive.activeDesc}"></div>
                                </div>
                                Created At</th>
                            <th>Options</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-if="isLoading" v-for="i in 10">
                            <td>
                                <Skeletor></Skeletor>
                            </td>
                            <td>
                                <Skeletor></Skeletor>
                            </td>
                            <td>
                                <Skeletor></Skeletor>
                            </td>
                            <td>
                                <Skeletor></Skeletor>
                            </td>
                        </tr>
                            <tr v-for="(role) in roleData.data" :key="role.id" v-else>
                                <td>{{ role.name }}</td>
                                <td>

                                    <span class="badge bg-primary"
                                          v-for="(permission) in role.permissions">
                                        {{ permission.name }}
                                    </span>

                                </td>
                                <td>{{ role.created_at }}</td>
                                <td>
                                    <button type="button" class="btn btn-primary" @click="showData(role.id)">
                                        Edit
                                    </button>
                                    <button type="button" class="btn btn-danger" @click="deleteData(role.id)">
                                        Delete
                                    </button>
                                </td>
                            </tr>
                        <tr v-if="roleData.data && roleData.data.length === 0">
                            <td colspan="4">No Data</td>
                        </tr>

                        </tbody>
                    </table>


                <p class="float-left">Showing {{ roleData.from || 0 }} to {{ roleData.to || 0 }} of {{ roleData.total || 0 }}
                    entries</p>
                <Pagination class="float-right" :data="roleData" @pagination-change-page="dataTable" :limit="5"/>

            </div>

        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="roleModal" tabindex="-1" aria-labelledby="roleEditModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="roleEditModalLabel" v-if="role.id">Edit Role</h5>
                    <h5 class="modal-title" id="roleEditModalLabel" v-else>Create Role</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="mb-3">
                            <label for="role-name" class="col-form-label">Role Name:</label>
                            <input type="text" class="form-control" id="role-name" v-model="role.name"
                                   :class="errors.name ? 'is-invalid' : ''">
                            <div v-if="errors.name" class="invalid-feedback fw-bolder">
                                {{ errors.name.toString() }}
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="permissionList" class="col-form-label">Permissions:</label>
                            <select class="form-select" multiple aria-label="multiple select example"
                                    v-model="role.permissions" :class="errors.permissions ? 'is-invalid' : ''">
                                <option v-for="(permission,index) in permissions" :value="permission.name"
                                        :key="permission.id" :selected="role.permissions ===permission.name"
                                >{{ permission.name }}
                                </option>

                            </select>
                            <div v-if="errors.permissions" class="invalid-feedback fw-bolder">
                                {{ errors.permissions.toString() }}
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" v-if="role.id" @click.prevent="updateData(role.id)">
                        Update
                    </button>
                    <button type="button" class="btn btn-primary" v-else @click.prevent="submitData">Save</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import {mapActions, mapState, mapWritableState} from 'pinia'
import {useRoleStore} from '../../store/Roles'
import {usePermissionStore} from '../../store/Permissions'
import {useErrorStore} from '../../store/Error'
import LaravelVuePagination from 'laravel-vue-pagination';



export default {
    components: {
        'Pagination': LaravelVuePagination
    },
    data() {
        return {
            table: {
                currentSort: 'name',
                currentSortDir: 'asc',
                search: '',
                isSearch: false,
                currentPage: '10',
                sortClassActive: {
                    'activeDesc': false,
                    'activeAsc': true
                },
            },
            showPage: ['10', '50', '100'],
            page: {},
            modalRole: null,

        }
    },
    beforeUnmount() {
        this.errors=null;
    },

    watch:{
      'table.currentPage':function (){
          this.dataTable(this.page)
      },
        'table.search':function (){
            this.dataTable(this.page)
        },


    },
    mounted() {
        const vue = this
        this.modalRole = document.getElementById('roleModal')
        this.modalRole.addEventListener('hidden.bs.modal', function (event) {
            vue.role = {
                permissions:[]
            };
        })
    },
    created() {
        this.allPermissions();
        this.fetchRoleForDatatable(this.table);
    },

    computed: {
        ...mapState(useRoleStore, ['roleData','isLoading']),
        ...mapState(usePermissionStore, ['permissions']),
        ...mapWritableState(useRoleStore, ['role']),
        ...mapState(useErrorStore, ['errors']),
    },
    methods: {
        ...mapActions(useRoleStore, ['fetchRoleForDatatable', 'fetchRole', 'updateRole','createRole','removeRole']),
        ...mapActions(usePermissionStore, ['allPermissions']),
        async deleteData(id){
            this.$swal({
                icon: 'error',
                title: 'Do you want to delete this role?',
                showCancelButton: true,
                confirmButtonText: 'Yes',
            }).then((result) => {
                /* Read more about isConfirmed, isDenied below */
                if (result.isConfirmed) {
                    this.removeRole(id)
                    this.$swal({
                        icon: 'danger',
                        title: 'Deleted',
                        text: 'successfully deleted',
                    })
                }
            })


        },
       dataTable: _.debounce(function (page) {
            if (typeof page === 'undefined') {
                this.page = 1;
            }
            this.page = page;
            this.fetchRoleForDatatable(this.table, this.page)

        }, 800),
        async showData(id = null) {
            let modal = bootstrap.Modal.getOrCreateInstance(this.modalRole)
            if(id){
                await this.fetchRole(id)
                modal.show();
            }else{
                modal.show()
            }

        },
        async submitData() {
            let modal = bootstrap.Modal.getOrCreateInstance(this.modalRole)
            await this.createRole()
            await this.$swal({
                icon: 'success',
                title: 'Success',
                text: 'successfully added',
                showConfirmButton: false,
                timer: 800
            })
            modal.hide();
            await this.dataTable(this.page)
        },
        async updateData(id) {
            let modal = bootstrap.Modal.getOrCreateInstance(this.modalRole)
            await this.updateRole(id)
            await this.$swal({
                icon: 'success',
                title: 'Success',
                text: 'successfully updated',
                showConfirmButton: false,
                timer: 800
            })
            modal.hide()
            await this.dataTable(this.page)
        },
        sort(s) {
            if (s === this.table.currentSort) {
                this.table.currentSortDir = this.table.currentSortDir === 'asc' ? 'desc' : 'asc';
                if (this.table.currentSortDir === 'asc') {
                    this.table.sortClassActive.activeAsc = true;
                    this.table.sortClassActive.activeDesc = false;
                } else {
                    this.table.sortClassActive.activeAsc = false;
                    this.table.sortClassActive.activeDesc = true;
                }
            }
            this.table.currentSort = s;
            this.dataTable(this.page)
        },
    },
}

</script>

<style scoped>
.filter-asc {
    border-bottom: 5px solid #ccc;
    margin-bottom: 1px
}

.filter-asc, .filter-desc {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent
}

.filter-desc {
    border-top: 5px solid #ccc;
    margin-top: 1px
}

.active-filter-asc {
    border-bottom: 5px solid #a3a3a3
}

.active-filter-desc {
    border-top: 5px solid #a3a3a3
}

.inline-block {
    display: inline-block
}
</style>
