<template>
    <main>
        <div class="container-fluid px-4">
            <slot name="page-name"></slot>
            <!--            <ol class="breadcrumb mb-4">-->
            <!--                <li class="breadcrumb-item active">dashboard</li>-->
            <!--            </ol>-->
            <div class="row">
                <router-view v-slot="{Component,route }">
                    <transition name="fade">
                        <div :key="route.name">
                            <component :is="Component"/>
                        </div>
                    </transition>
                </router-view>
            </div>
        </div>
    </main>
</template>

<script setup>


</script>

<style scoped>

</style>
