<template>
    <div class="col-xl-12 col-md-12">
        <div class="card mb-4">
            <div class="card-header">
                Orders
            </div>

            <div class="card-body">
                <div class="row">
                    <div class="col-sm-12 col-md-3 col-lg-3 col-xl-3 mb-4">
                        <label class="form-label">Filter Menu Range Date</label>
                        <Datepicker v-model="date_range" :clearable="false" placeholder="select date" range/>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-1 mb-2">
                        <label class="col-form-label" for="perPage">Show:</label>
                        <select v-model="table.currentPage" aria-label="perPage"
                                class="form-select">
                            <option v-for="(page,index) in showPage" :key="index"
                                    :selected="page ===table.currentPage" :value="page"
                            >{{ page }}
                            </option>
                        </select>

                    </div>
                    <div class="col-md-2 offset-md-9 mb-2">
                        <label class="col-form-label" for="searchLabel">Search:</label>
                        <input v-model="table.search" class="form-control" placeholder="search eeno" type="text">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-2">
                        <label class="col-form-label">Order Status</label>
                        <div class="form-check form-switch">
                            <input id="flexSwitchCheckDefault" v-model="table.is_claimed" class="form-check-input" role="switch"
                                   type="checkbox">
                            <label class="form-check-label" for="flexSwitchCheckDefault">Claimed</label>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered table-sm">
                        <thead>
                        <tr>
                            <th>EE Number</th>
                            <th>EE Name</th>
                            <th>Gross Amount</th>
                            <th>VMC Subsidy</th>
                            <th>Net Deductible to EE</th>
                            <th>Menu Date</th>
                            <th>STATUS</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="i in 10" v-if="isLoading.order_list">
                            <td>
                                <Skeletor></Skeletor>
                            </td>
                            <td>
                                <Skeletor></Skeletor>
                            </td>
                            <td>
                                <Skeletor></Skeletor>
                            </td>
                            <td>
                                <Skeletor></Skeletor>
                            </td>
                            <td>
                                <Skeletor></Skeletor>
                            </td>
                            <td>
                                <Skeletor></Skeletor>
                            </td>
                            <td>
                                <Skeletor></Skeletor>
                            </td>
                        </tr>
                        <tr v-for="(order,index) in ordersData.data" v-else :key="index">
                            <td>{{ order.header.username }}</td>
                            <td>{{ order.header.users.name }}</td>
                            <td class="text-end">{{ order.header.total }}</td>
                            <td class="text-end">
                                {{ order.header.total * order.header.subsidy }}<span
                                class="text-danger">[ {{ order.header.subsidy * 100 }}% OFF]</span>

                            </td>
                            <td class="text-end">{{ order.header.total_net }}</td>
                            <td>{{ order.food_menu.date }}</td>
                            <td>
                                <span v-if="order.is_claimed" class="badge bg-success">claimed</span>
                                <span v-else class="badge bg-danger">not claimed</span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <p class="float-left">Showing {{ ordersData.from || 0 }} to {{ ordersData.to || 0 }} of
                        {{ ordersData.total || 0 }}
                        entries</p>
                    <LaravelVuePagination :data="ordersData" :limit="5" class="float-right"
                                          @pagination-change-page="dataTable"/>
                </div>


            </div>

        </div>
    </div>

</template>

<script setup>

import {onMounted, onBeforeUnmount, inject, reactive, watch} from "vue";
import {storeToRefs} from "pinia";
import {useSelectedDate} from "../../store/SelectedDate";
import {useOrder} from "../../store/Order";
import moment from "moment/moment";
import {useRoute, useRouter} from "vue-router";

const ordersStore = useOrder();

const {ordersData, isLoading} = storeToRefs(ordersStore)
const {fetchOrdersAll} = ordersStore;

const selectedDateStore = useSelectedDate()
const {date_range} = storeToRefs(selectedDateStore)

const route = useRoute();
const router = useRouter();

const table = reactive({
    currentSort: 'date_claimed',
    currentSortDir: 'desc',
    search: '',
    isSearch: false,
    currentPage: '10',
    sortClassActive: {
        'activeDesc': false,
        'activeAsc': true
    },
    is_claimed: true
})
const showPage = ['10', '50', '100']


let pages = {}

const dataTable = _.debounce(async function (page) {
    if (typeof page === 'undefined') {
        pages = 1;
    }
    pages = page;
    await fetchOrdersAll(table, pages, date_range.value);
}, 300);


const sort = (s) => {
    if (s === table.currentSort) {
        table.currentSortDir = table.currentSortDir === 'asc' ? 'desc' : 'asc';
        if (table.currentSortDir === 'asc') {
            table.sortClassActive.activeAsc = true;
            table.sortClassActive.activeDesc = false;
        } else {
            table.sortClassActive.activeAsc = false;
            table.sortClassActive.activeDesc = true;
        }
    }
    table.currentSort = s;
    dataTable(pages)
}

watch(
    () => date_range.value,
    async (newValue) => {
        let start_date = moment(newValue[0]).format('yyyy-MM-DD');
        let end_date = moment(newValue[1]).format('yyyy-MM-DD');
        await router.push({
            name: "OrdersMainList",
            query: {...route.query, 'start-date': start_date, 'end-date': end_date}
        });
    },
)

watch(
    () => [table.search, table.currentPage, table.is_claimed],
    () => {
        dataTable(pages);
    }
)


watch(() => route.query['start-date'],
    async (query) => {

        if (query == null) {
            await dataTable(pages)
        } else {

            let start_date = moment(route.query['start-date'], 'yyyy-MM-DD', true)
            let end_date = moment(route.query['start-date'], 'yyyy-MM-DD', true)

            if (start_date.isValid() && end_date.isValid()) {
                date_range.value = [
                    moment(route.query['start-date']).format('yyyy-MM-DD'),
                    moment(route.query['end-date']).format('yyyy-MM-DD'),
                ]

                await router.push({
                    name: "OrdersMainList",
                    query: {
                        ...route.query,
                        'start-date': route.query['start-date'],
                        'end-date': route.query['end-date']
                    }
                });

                await dataTable(pages)
            } else {

                let start_date = moment(date_range.value[0]).format('yyyy-MM-DD');
                let end_date = moment(date_range.value[1]).format('yyyy-MM-DD');

                await router.push({
                    name: "OrdersMainList",
                    query: {...route.query, 'start-date': start_date, 'end-date': end_date}
                });

                await dataTable(pages)
            }

        }
    }, {immediate: true}
)


onMounted(() => {
    dataTable(pages);
})

onBeforeUnmount(() => {
    // error.$reset()
})
</script>

<style scoped>
.filter-asc {
    border-bottom: 5px solid #ccc;
    margin-bottom: 1px
}

.filter-asc, .filter-desc {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent
}

.filter-desc {
    border-top: 5px solid #ccc;
    margin-top: 1px
}

.active-filter-asc {
    border-bottom: 5px solid #a3a3a3
}

.active-filter-desc {
    border-top: 5px solid #a3a3a3
}

.inline-block {
    display: inline-block
}
</style>
